@keyframes hide{
    0%{
        left: 0px;
        opacity: 100%;
    }
    
    100%{
        left: 1000px;
        opacity: 0%;
    }
}

@keyframes show{
    0%{
        left: -500px;
        opacity: 0%;
    }
    75%{
        left: 100px;
        opacity: 75%;
    }
    100%{
        justify-self: center;
        opacity: 100%;
    }
}

@-webkit-keyframes fade {
    from {
    opacity: .4
    }
    to {
    opacity: 1
    }
  }
  @keyframes fade {
    from {
    opacity: .4
    }
    to {
    opacity: 1
    }
  }

  @keyframes slidershow{
    from{
        opacity: 0%;
        display: block;
    }
    to{
        opacity: 100%;
    }
  }
  @keyframes sliderhide{
    from{
        opacity: 100%;
        display: block;
    }
    to{
        opacity: 0%;
        display: none;
    }
  }

  @keyframes rowshow{
      from{

      }
      to{
          
      }
  }

  @keyframes arrow-61-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}
@keyframes arrow-61-fixed-anim {
    5% {
        opacity: 0;
    }
    20% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}