@keyframes hide{
    0%{
        left: 0px;
        opacity: 100%;
    }
    
    100%{
        left: 1000px;
        opacity: 0%;
    }
}

@keyframes show{
    0%{
        left: -500px;
        opacity: 0%;
    }
    75%{
        left: 100px;
        opacity: 75%;
    }
    100%{
        justify-self: center;
        opacity: 100%;
    }
}