
@media (min-width: 1200px) {
    
    

}

@media (max-width: 1206px) {
   body{
       font-size: 15px !important;
   }
   .header__content{
    grid-template-columns: 456px/1170px*100% 170px/1170px*100% 457px/1170px*100% !important;
    grid-gap: 43.5px/1170px*100% !important;
   }
   .header__hours__phone{
    grid-template-columns: 166px/447px*100% 251px/447px*100% !important;
    grid-gap: 30px/447px*100% !important;
   }
   .work__time{
    grid-template-columns: 30px/166px*100% 116px/166px*100% !important;
    grid-column-gap: 10px/146px*100%;
   }
   .header__phone{
    grid-template-columns: 20px/251px*100% 218px/251px*100% !important;
    grid-column-gap: 5px/231px*100%;
   }

   
}

@media (max-width: 992px) {
    body{
        font-size: 13px !important;
    }
    .header__content{
    grid-template-columns: 470px/1170px*100% 200px/1170px*100% 470px/1170px*100% !important;
    grid-gap: 13.5px/1170px*100% !important;
   }

   .header__button p{
    font-size: 13px/16px*1em !important;
   }
   .work__time{
    grid-template-columns: 100% !important;
    grid-column-gap: 0px !important;
    grid-template-rows: 14px/90px*100% 14px/90px*100% !important;
    justify-items: center;
    }
   .work__time img{
    display: none;
    //    grid-area: 1/1/2/2 !important;
    //    max-width: 30px;
    //    height: 100%;
   }
   .work__time .without__weekends{
    grid-area: 2/1/3/2 !important;
   }
   .work__time .working__time{
       grid-area: 3/1/4/2 !important;
   }
   .header__phone{
    grid-template-columns: 100% !important;
    
   }
   .header__phone img{
       display: none;
   }
   .header__phone .number{
       grid-area: 1/1/2/2 !important;
   }
   .header__phone .goform{
       grid-area: 2/1/3/2 !important;
   }
    
   
    
}

@media (max-width: 768px) {
    body{
        font-size: 12px;
    }
    .header__logo__title{
        grid-template-columns: 100% !important;
        grid-template-rows: 42px/90px*100% 29px/90px*100% !important;
        grid-row-gap: 10px/90px*100%;
        grid-gap: 0px !important;
        align-self: center;
    }
    .header__logo{
        max-width: 142px;
        max-height: 100%;
        grid-area: 1/1/2/2;
    }
    .header__title{
        grid-area: 2/1/3/2;
    }
    .header__hours__phone{
        grid-template-columns: 100% !important;
        grid-template-rows:69px/99px*100% 30px/99px*100% !important;
        grid-gap: 0px !important;
        justify-content: end;
       }
        .work__time{
            grid-area: 2/1/3/2;
            grid-template-columns: 117px/437px*100% 310px/437px*100% !important;
            grid-column-gap: 10px/437px*100% !important;
            grid-template-rows: 100% !important;
            justify-items: right !important;
        }
       .work__time img{
        display: none;
           display: block !important;
           grid-area: 1/1/2/2 !important;
           width: 100%;
           max-height: 20px;
           max-width: 20px;
           justify-self: right;
        }
       .work__time .without__weekends{
        display: none;
       }
       .work__time .working__time{
           grid-area: 1/2/2/3 !important;
           text-align: right !important;
           
       }
       .header__phone{
        grid-area: 1/1/2/2;
        grid-template-columns: 117px/437px*100% 310px/437px*100% !important;
        
       }
       .header__phone img{
        display: block !important;
        grid-area: 1/1/2/2;
        max-height: 20px;
        max-width: 20px;
        justify-self: center;
       }
       .header__phone .number{
           grid-area: 1/2/2/3 !important;
       }
       .header__phone .goform{
           grid-area: 2/2/3/3 !important;
       }
}

@media (max-width: 650) {
    
} 

@media (max-width: 480px) {
    
}

