
@media (min-width: 1200px) {
    
    

}

@media (max-width: 1206px) {
   body{
       font-size: 15px !important;
   }
    // header__adaptive
   .header__content{
    grid-template-columns: 456px/1170px*100% 170px/1170px*100% 457px/1170px*100% !important;
    grid-gap: 43.5px/1170px*100% !important;
   }
   .header__hours__phone{
    grid-template-columns: 166px/447px*100% 251px/447px*100% !important;
    grid-gap: 30px/447px*100% !important;
   }
   .work__time{
    grid-template-columns: 30px/166px*100% 116px/166px*100% !important;
    grid-column-gap: 10px/146px*100%;
   }
   .header__phone{
    grid-template-columns: 20px/251px*100% 218px/251px*100% !important;
    grid-column-gap: 5px/231px*100%;
   }
   // header__adaptive__end


   //    whowe__Adaptive__start
   .whowe__main{
    grid-template-columns: 48% 32% !important;
    grid-template-rows: 442px;
    grid-gap: 20% !important;
   }
   .whowe__title{
    grid-template-rows: 50% 50%
   }
                  
    .whowe__title__one{ 
        font-size: 26px/16px*1em
    }
    
    .whowe__title__two{
        font-size: 55px/16px*1em
    }

//    whowe__Adaptive__end

    // type__balkon adaptive start
    
    
    .content__priemushestva p{
        font-size: 0.8em !important;
        align-self: center;
    }
    .content__priemushestva img{
        align-self: center;
    }
    // type__balkon adaptive end

    //primer__otdelki adaptive start
    .primer__content__material{
        grid-column-gap: 25px/402px*100% !important;
        grid-template-columns: repeat(3,125px/402px*100%) !important;
    }
    //primer__otdelki adaptive end


    //sposob oplaty adaptive start

    .sposob__oplaty__container{
        grid-template-columns: repeat(3,358px/1176px*100%) !important;
        grid-column-gap: 50px/1176px*100% !important;
    }

    //sale adaptive start

    .sale__contain{
        grid-template-columns: 500px/1171px*100% 370px/1171px*100% !important;
        grid-column-gap: 300px/1171px*100% !important;
    }

    //footer adaptive start
    .footer__contain{
        grid-template-columns: 400px/1170px*100% 176px/1170px*100% 400px/1170px*100% !important;
        grid-column-gap: 97px/1170px*100% !important;
    }
}

@media (max-width: 992px) {
    body{
        font-size: 13px !important;
    }
    // header__adaptive
    .header__content{
    grid-template-columns: 460px/1170px*100% 220px/1170px*100% 460px/1170px*100% !important;
    grid-gap: 13.5px/1170px*100% !important;
   }

   .header__button p{
    font-size: 13px/16px*1em !important;
   }
   .work__time{
    grid-template-columns: 100% !important;
    grid-column-gap: 0px !important;
    grid-template-rows: 30px/90px*100% 14px/90px*100% 14px/90px*100% !important;
    justify-items: center;
    }
   .work__time img{
       grid-area: 1/1/2/2 !important;
       max-width: 30px;
       height: 100%;
   }
   .work__time .without__weekends{
    grid-area: 2/1/3/2 !important;
   }
   .work__time .working__time{
       grid-area: 3/1/4/2 !important;
   }
   .header__phone{
    grid-template-columns: 100% !important;
    
   }
   .header__phone img{
       display: none;
   }
   .header__phone .number{
       grid-area: 1/1/2/2 !important;
   }
   .header__phone .goform{
       grid-area: 2/1/3/2 !important;
   }
   // header__adaptive__end


   //    whowe__Adaptive__start
   .whowe__main{
    grid-template-columns: 53% 32% !important;
    grid-template-rows: 442px;
    grid-gap: 15% !important;
   }
   .whowe__title{
    grid-template-rows: 50% 50%
   }
                  
    .whowe__title__one{ 
        font-size: 26px/16px*1em
    }
    
    .whowe__title__two{
        font-size: 55px/16px*1em
    }
    .contain{
        grid-template-rows: 60% 40% !important;
    }
    .contain span{
        height: 90px !important;
        width: 90px !important;
    }
    //    whowe__Adaptive__end

    // type__balkon adaptive start
    .content__priemushestva p{
        font-size: 0.7em !important;
    }
    .primer__raboty__footer__cold__right .button{
        font-size: 1em !important;
    }
    .primer__raboty__footer__hot__right .button{
        font-size: 1em !important;
    }
     .primer__raboty{
        grid-template-rows: 600px/16px*1em !important;
        height: 600px/16px*1em;
    }
    .type__balkon{
        grid-template-rows: auto !important;
    }
    // type__balkon adaptive end


    //primer__otdelki__start

    .primer__content{
        grid-template-columns: 450px/1150px*100% 600px/1150px*100% !important;
        grid-column-gap: 70px/1150px*100% !important;
        grid-template-rows: 442px 91px !important;
        grid-row-gap: 40px;
        max-width: 100%;
    }
    
    .primer__content .img__primer{
        grid-area: 1/1/2/2;
        justify-self: center;
    }
    .primer__otdelki__menu p{
        font-size: 1.1em !important;
    }
    .primer__content__material{
        grid-area: 1/2/2/3;
    }
    .form__otdelka{
        display: none !important;
    }
    .button__zakaz{
        display: block !important;
        grid-area: 2/1/3/3;
        justify-self: center;
        width: 100%;
    }
    .primer__otdelki{
        height: auto !important;
        grid-template-rows: 241px auto !important;
    }

    //primer__otdelki__end

    //our work adaptiva start

    .work__images{

        grid-template-columns: repeat(6,144px/992px*100%) !important;
        grid-template-rows: repeat(3,270px/16px*1em) !important;
    }
    .container__first{
        grid-area: 1/1/2/3 !important;
        justify-self: center;
    }
    .container__second{
        grid-area: 1/3/2/5 !important;
        justify-self: center;
    }
    .container__three{
        grid-area: 1/5/2/7 !important;
        justify-self: center;
    }
    .container__four{
        grid-area: 2/1/3/3 !important;
        justify-self: center;
    }
    .container__five{
        grid-area: 2/3/3/5 !important;
        justify-self: center;
    }
    .container__six{
        grid-area: 2/5/3/7 !important;
        justify-self: center;
    }
    .container__seven{
        grid-area: 3/2/4/4 !important;
        justify-self: center;
    }
    .container__eight{
        grid-area: 3/4/4/6 !important;
        justify-self: center;
    }

    //garantya adaptive start

    .garantya__content{
        grid-template-columns: repeat(3,230px/976px*100%) !important;
        grid-column-gap: 130px/976px*100% !important;
    }

    //sposob oplaty adaptive start
    .sposob__oplaty__container{
        grid-template-columns: repeat(4,256px/1176px*100%) !important;
        grid-template-rows: 100px 100px !important;
        grid-row-gap: 20px !important;
        grid-column-gap: 50px/1176px*100% !important;
    }
    .sposoby__oplaty__contain{
        justify-items: center;
        grid-template-columns: auto !important;
        grid-template-rows: 70px 20px !important;
        grid-row-gap: 10px !important;
    }
    .sposoby__oplaty__contain p{
        font-size: 26px/16px*1em  !important;
        text-align: center !important;
        justify-self: center !important;
    }
    .nalik{
        grid-area: 2/2/3/4 !important;
    }
    .card{
        grid-area: 1/3/2/5 !important ;
    }
    .beznal{
        grid-area: 1/1/2/3 !important;
    }

    //sale adaptive start

    .sale__contain{
        grid-template-columns: 550px/1171px*100% 420px/1171px*100% !important;
        grid-column-gap: 200px/1171px*100% !important;
    }

    //wherewe adaptive start

    .where__we{
        grid-template-columns: 100% !important;
    }
    .where__we__title{
        grid-area: 1/1/2/2 !important;
    }
    .map{
        grid-area: 2/1/3/2 !important;
    }
    .maps{
        max-height: 100%;
    }
    .ymaps-2-1-76-map{
        width: 100%;
    }
    .where__we__info{
        grid-area: 3/1/4/2 !important;
    }
    .info__sup{
        text-align: center;
        
        font-size: 20px/16px*1em !important;
    }
    .info__sub{
        text-align: center;
    }


}




@media (max-width: 768px) {
    body{
        font-size: 12px;
    }
    // header__adaptive
    .header__content{
        grid-template-columns: 450px/1170px*100% 240px/1170px*100% 450px/1170px*100% !important;
        grid-gap: 13.5px/1170px*100% !important;
       }
    .header__logo__title{
        grid-template-columns: 100% !important;
        grid-template-rows: 42px/90px*100% 29px/90px*100% !important;
        grid-row-gap: 10px/90px*100%;
        grid-gap: 0px !important;
        align-self: center;
    }
    .header__logo{
        max-width: 100px;
        max-height: 100%;
        grid-area: 1/1/2/2;
        justify-self: center;
    }
    .header__title{
        grid-area: 2/1/3/2;
        text-align: center !important;
    }
    
    .header__hours__phone{
        grid-template-columns: 100% !important;
        grid-template-rows:69px/99px*100% 30px/99px*100% !important;
        grid-gap: 0px !important;
        justify-content: end;
        align-items: center;
       }
        .work__time{
            grid-area: 2/1/3/2;
            grid-template-columns: 117px/437px*100% 310px/437px*100% !important;
            grid-column-gap: 10px/437px*100% !important;
            grid-template-rows: 100% !important;
            justify-items: right !important;
        }
       .work__time img{
        display: none;
           display: block !important;
           grid-area: 1/1/2/2 !important;
           width: 100%;
           max-height: 20px;
           max-width: 20px;
           justify-self: right;
        }
       .work__time .without__weekends{
        display: none;
       }
       .work__time .working__time{
           grid-area: 1/2/2/3 !important;
           text-align: center !important;
           
       }
       .header__phone{
        grid-area: 1/1/2/2;
        grid-template-columns: 117px/437px*100% 310px/437px*100% !important;
       }
       .header__phone img{
        display: block !important;
        grid-area: 1/1/2/2 !important;
        max-height: 20px;
        max-width: 20px;
        justify-self: right;
       }
       .header__phone .number{
           grid-area: 1/2/2/3 !important;
       }
       .header__phone .goform{
           grid-area: 2/2/3/3 !important;
       }
       // header__adaptive__end

       //    whowe__Adaptive__start
       .whowe{
        padding: 80px 0 !important;
         background-position: right !important;
    }
    .whowe__main{
        grid-template-columns: 100% !important;
        grid-template-rows: 300px 442px !important ;
        grid-gap: 7% !important;
       }
       .whowe__title{
        grid-template-rows: 50% 50%;
       }
                      
        .whowe__title__one{ 
            font-size: 22px !important;
            text-transform: uppercase;
            text-align: center;
            color: #000000 !important;
        }
        
        .whowe__title__two{
            font-size: 28px !important;
            text-transform: uppercase;
            text-align: center;
            color: #000000 !important;
        }
        .contain{
            grid-template-rows: 60% 40% !important;
        }
        .contain span{
            height: 80px !important;
            width: 80px !important;
        }
        .contain img{
            bottom: 65px !important;
        }
        .contain p{
            font-size: 14px !important;
            align-self: start !important;
        }
        .whowe__main .form{
            width: 100%;
            justify-self: center;
        }
        //    whowe__Adaptive__end

    // type__balkon adaptive start
    .arrow-6 {
        margin:10px;
        display: block !important;
        justify-self: right;
        align-self: center;
        z-index: 40;
        
    }
    .arrow-6 svg {
        width: 40px !important;
        height: auto;
        cursor: pointer;
        overflow: visible;
    }
    .arrow-6 .svg .polygon1{
        transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
        fill: #ffb903;
        -webkit-transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
        -moz-transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
        -ms-transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
        -o-transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
    }
    .arrow-6 .svg .path {
        transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
        fill: #0d8fe3;
        -webkit-transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
        -moz-transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
        -ms-transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
        -o-transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
    }

    .arrow-6 .svg:hover .path{
        transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
        fill: #0d8fe3;
        -webkit-transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
        -moz-transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
        -ms-transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
        -o-transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    }
    .arrow-6 .svg:hover .polygon{
        transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
        fill: #ffb903;
        -webkit-transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
        -moz-transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
        -ms-transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
        -o-transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
}
    .arrow-6 svg:hover .arrow-6-pl {
        animation: arrow-6-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
    }
    .arrow-6 svg:hover .arrow-6-pl-fixed {
        animation: arrow-6-fixed-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
    }
     
    @keyframes arrow-6-anim {
        0% {
            opacity: 1;
            transform: translateX(0);
        }
        5% {
            transform: translateX(-0.1rem);
        }
        100% {
            transform: translateX(1rem);
            opacity: 0;
        }
    }
    @keyframes arrow-6-fixed-anim {
        5% {
            opacity: 0;
        }
        20% {
            opacity: 0.4;
        }
        100% {
            opacity: 1;
        }
    }
    .show__elem{
        animation: show 2s ease 1 alternate forwards;
        -webkit-animation: show 2s ease 1 alternate forwards;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .hide__elem{
        animation: hide 2s ease 1 alternate forwards;
        -webkit-animation: hide 2s ease 1 alternate forwards;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .content__primer__cold{
        width: 70% !important;
    }
    .content__primer__hot{
        width: 70% !important;
    }
    
    .hot{
        grid-template-rows: 88px/689px*100% 601px/689px*100% !important;
        position: absolute;
        width: 100%;
        max-width: 70%;
        justify-self: center;
        height: 100%;
        opacity: 0%;
        // animation: show 2s ease 1 alternate forwards;
        // -webkit-animation: show 2s ease 1 alternate forwards;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

    }
    .primer__raboty{
        grid-template-columns: auto !important;
        grid-template-rows: 37.5em !important;
        height: 100%;
        position: relative;
        overflow: hidden;
        
    }
    .cold{
        grid-template-rows: 88px/689px*100% 601px/689px*100% !important;
        position: absolute;
        width: 100%;
        justify-self: center;
        max-width: 70%;
        height: 100%;
        // animation: hide 2s ease 1 alternate forwards;
        // -webkit-animation: hide 2s ease 1 alternate forwards;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
}
    // type__balkon adaptive end

    //primer__otdelki adaptive start
    .primer__otdelki{
        height: auto !important;
        grid-template-rows:auto auto !important;
    }
    .primer__otdelki__upper{
        
        grid-template-rows: auto auto !important;
    }
    .primer__otdelki__menu{
        grid-template-columns: repeat(2,50%) !important;
        grid-template-rows: 93px 93px !important;
    }
    .vnutr__otdelka{
        border-bottom: 2px solid;
        border-color: #EFEFEF ;
    }
        
    .vnesh__otdelka{
        border-right: none !important;
        border-bottom: 2px solid;
        border-color: #EFEFEF;
    }
        
   
        
    //primer__otdelki adaptive end

    //sale adaptive start
    .main__sale{
        background-position: right !important;
    }
    .sale__contain{
        grid-template-columns: repeat(3,390px/1170px*100%) !important;
        
        grid-template-rows: auto auto 442px !important;
        grid-column-gap: 0px !important;
    }
    .sale__title{
        grid-area: 1/1/2/4 !important;
    }
    .sale__title h1{
        text-align: center;
    }
    .sale__title p{
        text-align: center;
    }
    .sale__time{
        grid-area: 2/1/3/4 !important;
        max-width: 450px;
        justify-self: center;
        width: 100%;
    }
    .form__sale{
        grid-area: 3/1/4/4 !important;
        max-width: 370px !important;
        width: 100% !important;
        justify-self: center;
    }
    .sale__title h1{
        font-size: 52px/16px*1em !important;
    }
    .sale__title p{
        font-size: 28px/16px*1em !important;
    }
    .sale__time h2{
        
        font-size: 18px/16px*1em !important;
    }
    .form__sale .form__title p{
        
        font-size: 20px/16px*1em !important;
    }
    .form__sale .form__title h1{
        
        font-size: 28px/16px*1em !important;
    }
    .form__sale form .button{
        
        font-size: 23px/16px*1em !important;
    }
    .form__sale form p{
        
        font-size: 14px/16px*1em !important;
    }

    //many questions adaptive start

    .questions{
        grid-template-columns: auto !important;
        grid-template-rows: auto !important;
        grid-row-gap: 10px;
    }
    .questions p{
        grid-area: 1/1/2/2;
        text-align: center !important;
        justify-self: center !important;
    }
    .questions a{
        grid-area: 2/1/3/2;
        text-align: center !important;
        justify-self: center !important;
    }
}



@media (max-width: 650px) {
    body{
        font-size: 11px !important;
    }

    // header__adaptive
    .header__content{
        grid-template-columns: 450px/1170px*100% 270px/1170px*100% 420px/1170px*100% !important;
        grid-gap: 13.5px/1170px*100% !important;
       }
    .header__logo__title{
        grid-template-columns: 100% !important;
        grid-template-rows: 42px/90px*100% 29px/90px*100% !important;
        grid-row-gap: 10px/90px*100%;
        grid-gap: 0px !important;
        align-self: center;
    }
    .header__logo{
        max-width: 100px;
        max-height: 100%;
        grid-area: 1/1/2/2;
        justify-self: center;
    }
    .header__title{
        grid-area: 2/1/3/2;
        text-align: center !important;
    }
    .header__button{
        padding: 10px/16px*1em 5px/16px*1em !important;
        grid-gap: 2px/135px*100% !important
    }
    .header__button p{
        font-size: 12px/16px*1em !important;
    }
    .header__hours__phone{
        grid-template-columns: 100% !important;
        grid-template-rows:69px/99px*100% 30px/99px*100% !important;
        grid-gap: 0px !important;
        justify-content: end;
        align-items: center;
       }
        .work__time{
            grid-area: 2/1/3/2;
            grid-template-columns: 100%  !important;
            grid-column-gap: 0px !important;
            grid-template-rows: 100% !important;
        }
       .work__time img{
           display: block !important;
           grid-area: 1/1/2/2 !important;
           width: 100%;
           max-height: 20px;
           max-width: 20px;
           justify-self: center;
        }
       .work__time .without__weekends{
        display: none;
       }
       .work__time .working__time{
           grid-area: 1/1/2/2 !important;
           text-align: right !important;
           align-self: center;
           
       }
       .header__phone{
        grid-area: 1/1/2/2 !important;
        grid-template-columns: 100% !important;
       }
       .header__phone img{
        display: none !important;
       }
       .header__phone .number{
           grid-area: 1/1/2/2 !important;
       }
       .header__phone .goform{
           grid-area: 2/1/3/2 !important;
       }
       // header__adaptive__end


       //    whowe__Adaptive__start
       
       .whowe__main{
        grid-template-columns: 100% !important;
        grid-template-rows: 300px 442px !important ;
        grid-gap: 7% !important;
       }
       .whowe__title{
        grid-template-rows: 50% 50%;
       }
                      
        .whowe__title__one{ 
            font-size: 22px !important;
            text-transform: uppercase;
            text-align: center;
            color: #000000 !important;
        }
        
        .whowe__title__two{
            font-size: 28px !important;
            text-transform: uppercase;
            text-align: center;
            color: #000000 !important;
        }
        .contain{
            grid-template-rows: 60% 40% !important;
        }
        .contain span{
            height: 80px !important;
            width: 80px !important;
        }
        .contain img{
            bottom: 65px !important;
        }
        .contain p{
            font-size: 14px !important;
            align-self: start !important;
        }
        .whowe__main .form{
            width: 100%;
            justify-self: center;
        }
        //    whowe__Adaptive__end

        .arrow-6{
            margin: 0 !important;
        }

        // primer__content adaptive start

        .form__otdelka{
            display: none;
        }

        .primer__content{
            grid-template-columns: auto !important;
            grid-template-rows: 440px 388px 91px !important;
        }
        .img__primer{
            grid-area: 1/1/2/2 !important;
        }
        
        .primer__otdelki__title h1{
         text-align: center !important;
         font-size: 25px/16px*1em !important
        }
        .primer__otdelki{
            grid-template-rows:  auto auto !important;
        }
        .primer__otdelki__upper{
            grid-row-gap: 97px/16px*1em !important;
        }

        .material__first{
            
            justify-self: center !important;
        }
        .material__second{
            
            justify-self: center !important;
        }
        .material__three{
            
            justify-self: center !important;
        }
        .material__four{
            grid-area: 2/1/3/3 !important;
            justify-self: center !important;
        }
        .material__five{
            grid-area: 2/2/3/4 !important;
            justify-self: center !important;
        }
        .primer__content__material{
            grid-area: 2/1/3/2 !important;
            margin: 0 !important;
            grid-template-columns: repeat(3,151px/518px*100%) !important;
        }
        .button__zakaz{
            grid-area: 3/1/4/2 !important;
        }
        .primer__content__material .material__title{
            font-size: 1em;
        }

        .primer__content__material .material__razmer{
            font-size: 0.9em;
        }

        .primer__content__material .with__material{
            font-size: 0.9em;
        }
        .primer__otdelki__menu p{
            font-size: 1.1em !important;
        }
        
        //our work adaptive 

        .work__images{
            grid-template-columns: auto !important;
            grid-template-rows: auto !important;
        }
        .container__photo{
            max-width: 100% !important;
            justify-self: center;
            width: 100%;
        }
        .container__photo:hover{
            cursor: default !important;
        }
        .container__photo:hover img{
            opacity: 100% !important;
        }
        .zoom{
            display: none !important;
        }
        .photo{
            max-width: 100% !important;
            width: 100% !important;
        }

        
        .prev{
            grid-area: 1/1/2/2;
            justify-self: left;
        }
        .next{ 
            grid-area: 1/1/2/2;
            justify-self: right;
        }
        .work__images{
            position: relative;
        }
        .arrow-61 {
            display: grid !important;
            grid-template-columns: 100%;
            grid-template-rows: auto;
            width: 100%;
            position: absolute;
            align-self: center;
            z-index: 44;
        }
        .arrow-61 svg {
            width: 40px !important;
            height: auto;
            cursor: pointer;
            overflow: visible;
        }
        .arrow-61 svg polygon, 
        .arrow-61 svg path {
            transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
            fill: rgb(56, 147, 226);
        }
        .arrow-61 svg:hover polygon, 
        .arrow-61 svg:hover path {
            transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
            fill: rgb(66, 163, 248);
        }
        .arrow-61 svg:hover .arrow-61-pl {
            animation: arrow-61-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
            -webkit-animation: arrow-61-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
        .arrow-61 svg:hover .arrow-61-pl-fixed {
            animation: arrow-61-fixed-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
            -webkit-animation: arrow-61-fixed-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
         
        @keyframes arrow-61-anim {
            0% {
                opacity: 1;
                transform: translateX(0);
            }
            5% {
                transform: translateX(-0.1rem);
            }
            100% {
                transform: translateX(1rem);
                opacity: 0;
            }
        }
        @keyframes arrow-61-fixed-anim {
            5% {
                opacity: 0;
            }
            20% {
                opacity: 0.4;
            }
            100% {
                opacity: 1;
            }
        }
        
        .container__first{
            grid-area: 1/1/2/2 !important;
            width: 100%;
            height: 100%;
            justify-self: center;
        }
        .container__second{
            display: none;
            grid-area: 1/1/2/2 !important;
            width: 100%;
            height: 100%;
            -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        }
        .container__three{
            display: none;
            grid-area: 1/1/2/2 !important;
            width: 100%;
            height: 100%;
            -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        }
        .container__four{
            display: none;
            grid-area: 1/1/2/2 !important;
            width: 100%;
            height: 100%;
            -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        }
        .container__five{
            display: none;
            grid-area: 1/1/2/2 !important;
            width: 100%;
            height: 100%;
            -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        }
        .container__six{
            display: none;
            grid-area: 1/1/2/2 !important;
            width: 100%;
            height: 100%;
            -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        }
        .container__seven{
            display: none;
            grid-area: 1/1/2/2 !important;
            width: 100%;
            height: 100%;
            -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        }
        .container__eight{
            display: none;
            grid-area: 1/1/2/2 !important;
            width: 100%;
            height: 100%;
            -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        }

    //garantya adaptive start

    .garantya__content{
        grid-template-columns: repeat(2,420px/976px*100%) !important;
        grid-column-gap: 130px/976px*100% !important;
    }
    .garantya__container{
        justify-self: center;
    }
    .garantya__container p{
        
        font-size: 20px/16px*1em !important;
    }
    .garantya1{
        grid-area: 1/1/2/2 !important;
    }
    .garantya2{
        grid-area: 1/2/2/3 !important;
    }
    .garantya3{
        grid-area: 2/1/3/2 !important;
    }
    .garantya4{
        grid-area: 2/2/3/3 !important;
    }
    .garantya5{
        grid-area: 3/1/4/2 !important;
    }
    .garantya6{
        grid-area: 3/2/4/3 !important;
    }
    
    
    //sposob oplaty adaptive start

    .sposob__oplaty__container{
        grid-template-columns: auto !important;
        grid-template-rows: auto !important;
        grid-row-gap: 20px !important;
    }
    .nalik{
        grid-area: 3/1/4/3 !important;
    }
    .card{
        grid-area: 2/1/3/3 !important ;
    }
    .beznal{
        grid-area: 1/1/2/3 !important;
    }

    //sale adaptive start

    .sale__title h1{
        font-size: 52px/16px*1em !important;
    }
    .sale__title p{
        font-size: 28px/16px*1em !important;
    }
    .sale__time h2{
        
        font-size: 18px/16px*1em !important;
    }
} 

@media (max-width: 480px) {
    body{
        font-size: 8px !important;
    }

    // header__adaptive
    .header__content{
        grid-template-columns: 410px/1170px*100% 310px/1170px*100% 410px/1170px*100% !important;
        grid-gap: 13.5px/1170px*100% !important;
       }
    .header__logo__title{
        grid-template-columns: 100% !important;
        grid-template-rows:100% !important;
        grid-row-gap: 10px/90px*100%;
        grid-gap: 0px !important;
        align-self: center;
    }
    .header__logo{
        max-width: 100px;
        max-height: 100%;
        grid-area: 1/1/2/2;
        justify-self: left !important;
    }
    .header__title{
        display: none;
    }
    .header__button{
        padding: 10px/16px*1em 5px/16px*1em !important;
        grid-gap: 2px/135px*100% !important
    }
    .header__button p{
        font-size: 9px/16px*1em !important;
        text-align: center !important;
    }
    .header__hours__phone{
        grid-template-columns: 100% !important;
        grid-template-rows:100% !important;
        grid-gap: 0px !important;
        justify-content: end;
        align-items: center;
       }
        .work__time{
            display: none !important;
        }
       
       .header__phone{
        grid-area: 1/1/2/2 !important;
        grid-template-columns: 100% !important;
        align-self: center !important;
       }
       .header__phone img{
        display: none !important;
       }
       .header__phone .number{
           grid-area: 1/1/2/2 !important;
       }
       .header__phone .goform{
           grid-area: 2/1/3/2 !important;
       }
       // header__adaptive__end


    //    whowe__Adaptive__start
       .whowe{
        padding: 80px 0 !important;
         background-position: right !important;
        }
       .whowe__main{
        grid-template-columns: 100% !important;
        grid-template-rows: 250px 442px !important ;
        grid-gap: 7% !important;
       }
       .whowe__title{
        grid-template-rows: 50% 50%;
       }
                      
        .whowe__title__one{ 
            font-size: 16px !important;
            text-transform: uppercase;
            text-align: center;
            color: #000000 !important;
        }
        
        .whowe__title__two{
            font-size: 24px !important;
            text-transform: uppercase;
            text-align: center;
            color: #000000 !important;
        }
        .contain{
            grid-template-rows: 60% 40% !important;
        }
        .contain span{
            height: 70px !important;
            width: 70px !important;
        }
        .contain img{
            bottom: 50px !important;
        }
        .contain p{
            font-size: 12px !important;
            align-self: start !important;
        }
        .form__title h1{
            font-size: 14px !important;
        }
        .form__title p{
            font-size: 18px !important;
        }
        form .button{
            font-size: 15px !important;
        }
        //    whowe__Adaptive__end

    // type__balkon adaptive start
    .main__primer__type{
        height: auto !important;
    }
    .type__balkon{
        padding: 40px 0 40px 0 !important;
        grid-row-gap: 61px/16px*1em !important;
    }
    .content__primer__cold{
        width: 100% !important;
    }
    .cold__checkbox p{
        font-size: 0.75em !important;
    }
    .content__primer__hot{
        width: 100% !important;
    }
    .hot__checkbox p{
        font-size: 0.72em !important;
    }
            
    // type__balkon adaptive end

    //primer otdelki adaptive start
    .primer__otdelki__title h1{
    font-size: 30px/16px*1em !important;
    }
    .material__title{
        font-size: 18px/16px*1em !important;
    }
    .material__razmer{
        
        font-size: 18px/16px*1em !important;
    }
    .with__material{
       
        font-size: 16px/16px*1em !important;
    }
    .primer__otdelki__menu p{
        
        font-size: 22px/16px*1em !important;
    }

    //garantiya adaptive start
    .garantya__container p{
        
        font-size: 26px/16px*1em !important;
    }
    
    //sposob oplaty adaptive start
    .sposoby__oplaty__contain p{
        
        font-size: 30px/16px*1em  !important;
    }

    // sale adaptive start

    .sale__title h1{
        font-size: 60px/16px*1em !important;
    }
    .sale__title p{
        font-size: 36px/16px*1em !important;
    }
    .sale__time h2{
        
        font-size: 24px/16px*1em !important;
    }
    .form__sale .form__title p{
        
        font-size: 26px/16px*1em !important;
    }
    .form__sale .form__title h1{
        
        font-size: 34px/16px*1em !important;
    }
    .form__sale form .button{
        
        font-size: 30px/16px*1em !important;
    }
    .form__sale form p{
        
        font-size: 20px/16px*1em !important;
    }

    //wherewe adaptive start
    .info__sup{
        text-align: center;
        
        font-size: 28px/16px*1em !important;
    }
    .info__sub{
        text-align: center;
        font-size: 22px/16px*1em !important;
    }

     //many questions adaptive start
    .questions p{
        font-size: 40px/16px*1em !important;
    }
    .questions a{
        font-size: 40px/16px*1em !important;
    }
}

