
@media (min-width: 1200px) {
    
    

}

@media (max-width: 1206px) {
   body{
       font-size: 15px !important;
   }
   .header__content{
    grid-template-columns: 456px/1170px*100% 170px/1170px*100% 457px/1170px*100% !important;
    grid-gap: 43.5px/1170px*100% !important;
   }
   .header__hours__phone{
    grid-template-columns: 166px/447px*100% 251px/447px*100% !important;
    grid-gap: 30px/447px*100% !important;
   }
   .work__time{
    grid-template-columns: 30px/166px*100% 116px/166px*100% !important;
    grid-column-gap: 10px/146px*100%;
   }
   .header__phone{
    grid-template-columns: 20px/251px*100% 218px/251px*100% !important;
    grid-column-gap: 5px/231px*100%;
   }
   .whowe__main{
    grid-template-columns: 48% 32% !important;
    grid-template-rows: 442px;
    grid-gap: 20% !important;
   }
   .whowe__title{
    grid-template-rows: 50% 50%
   }
                  
    .whowe__title__one{ 
        font-size: 26px/16px*1em
    }
    
    .whowe__title__two{
        font-size: 55px/16px*1em
    }
}

@media (max-width: 992px) {
    body{
        font-size: 13px !important;
    }
    .header__content{
    grid-template-columns: 460px/1170px*100% 220px/1170px*100% 460px/1170px*100% !important;
    grid-gap: 13.5px/1170px*100% !important;
   }

   .header__button p{
    font-size: 13px/16px*1em !important;
   }
   .work__time{
    grid-template-columns: 100% !important;
    grid-column-gap: 0px !important;
    grid-template-rows: 30px/90px*100% 14px/90px*100% 14px/90px*100% !important;
    justify-items: center;
    }
   .work__time img{
       grid-area: 1/1/2/2 !important;
       max-width: 30px;
       height: 100%;
   }
   .work__time .without__weekends{
    grid-area: 2/1/3/2 !important;
   }
   .work__time .working__time{
       grid-area: 3/1/4/2 !important;
   }
   .header__phone{
    grid-template-columns: 100% !important;
    
   }
   .header__phone img{
       display: none;
   }
   .header__phone .number{
       grid-area: 1/1/2/2 !important;
   }
   .header__phone .goform{
       grid-area: 2/1/3/2 !important;
   }

   .whowe__main{
    grid-template-columns: 53% 32% !important;
    grid-template-rows: 442px;
    grid-gap: 15% !important;
   }
   .whowe__title{
    grid-template-rows: 50% 50%
   }
                  
    .whowe__title__one{ 
        font-size: 26px/16px*1em
    }
    
    .whowe__title__two{
        font-size: 55px/16px*1em
    }
    .contain{
        grid-template-rows: 60% 40% !important;
    }
    .contain span{
        height: 90px !important;
        width: 90px !important;
    }
    
}

@media (max-width: 768px) {
    body{
        font-size: 12px;
    }
    .header__content{
        grid-template-columns: 450px/1170px*100% 240px/1170px*100% 450px/1170px*100% !important;
        grid-gap: 13.5px/1170px*100% !important;
       }
    .header__logo__title{
        grid-template-columns: 100% !important;
        grid-template-rows: 42px/90px*100% 29px/90px*100% !important;
        grid-row-gap: 10px/90px*100%;
        grid-gap: 0px !important;
        align-self: center;
    }
    .header__logo{
        max-width: 100px;
        max-height: 100%;
        grid-area: 1/1/2/2;
        justify-self: center;
    }
    .header__title{
        grid-area: 2/1/3/2;
        text-align: center !important;
    }
    
    .header__hours__phone{
        grid-template-columns: 100% !important;
        grid-template-rows:69px/99px*100% 30px/99px*100% !important;
        grid-gap: 0px !important;
        justify-content: end;
        align-items: center;
       }
        .work__time{
            grid-area: 2/1/3/2;
            grid-template-columns: 117px/437px*100% 310px/437px*100% !important;
            grid-column-gap: 10px/437px*100% !important;
            grid-template-rows: 100% !important;
            justify-items: right !important;
        }
       .work__time img{
        display: none;
           display: block !important;
           grid-area: 1/1/2/2 !important;
           width: 100%;
           max-height: 20px;
           max-width: 20px;
           justify-self: right;
        }
       .work__time .without__weekends{
        display: none;
       }
       .work__time .working__time{
           grid-area: 1/2/2/3 !important;
           text-align: center !important;
           
       }
       .header__phone{
        grid-area: 1/1/2/2;
        grid-template-columns: 117px/437px*100% 310px/437px*100% !important;
       }
       .header__phone img{
        display: block !important;
        grid-area: 1/1/2/2 !important;
        max-height: 20px;
        max-width: 20px;
        justify-self: right;
       }
       .header__phone .number{
           grid-area: 1/2/2/3 !important;
       }
       .header__phone .goform{
           grid-area: 2/2/3/3 !important;
       }
       
       .whowe__main{
        grid-template-columns: 34% 32% 34% !important;
        grid-template-rows: 442px 442px;
        grid-row-gap: 80px;
        grid-gap: 0% !important;
       }
       .whowe__left{
           grid-area: 1/1/2/4;
       }
       form{
           grid-area: 2/2/3/3;
       }
       .whowe__title{
        grid-template-rows: 50% 50%
       }
                      
        .whowe__title__one{ 
            font-size: 26px/16px*1em
        }
        
        .whowe__title__two{
            font-size: 55px/16px*1em
        }
        .contain{
            grid-template-rows: 60% 40% !important;
        }
        .contain span{
            height: 90px !important;
            width: 90px !important;
        }
}

@media (max-width: 650px) {
    body{
        font-size: 11px !important;
    }
    .header__content{
        grid-template-columns: 450px/1170px*100% 270px/1170px*100% 420px/1170px*100% !important;
        grid-gap: 13.5px/1170px*100% !important;
       }
    .header__logo__title{
        grid-template-columns: 100% !important;
        grid-template-rows: 42px/90px*100% 29px/90px*100% !important;
        grid-row-gap: 10px/90px*100%;
        grid-gap: 0px !important;
        align-self: center;
    }
    .header__logo{
        max-width: 100px;
        max-height: 100%;
        grid-area: 1/1/2/2;
        justify-self: center;
    }
    .header__title{
        grid-area: 2/1/3/2;
        text-align: center !important;
    }
    .header__button{
        padding: 10px/16px*1em 5px/16px*1em !important;
        grid-gap: 2px/135px*100% !important
    }
    .header__button p{
        font-size: 12px/16px*1em !important;
    }
    .header__hours__phone{
        grid-template-columns: 100% !important;
        grid-template-rows:69px/99px*100% 30px/99px*100% !important;
        grid-gap: 0px !important;
        justify-content: end;
        align-items: center;
       }
        .work__time{
            grid-area: 2/1/3/2;
            grid-template-columns: 100%  !important;
            grid-column-gap: 0px !important;
            grid-template-rows: 100% !important;
        }
       .work__time img{
           display: block !important;
           grid-area: 1/1/2/2 !important;
           width: 100%;
           max-height: 20px;
           max-width: 20px;
           justify-self: center;
        }
       .work__time .without__weekends{
        display: none;
       }
       .work__time .working__time{
           grid-area: 1/1/2/2 !important;
           text-align: right !important;
           align-self: center;
           
       }
       .header__phone{
        grid-area: 1/1/2/2 !important;
        grid-template-columns: 100% !important;
       }
       .header__phone img{
        display: none !important;
       }
       .header__phone .number{
           grid-area: 1/1/2/2 !important;
       }
       .header__phone .goform{
           grid-area: 2/1/3/2 !important;
       }
} 

@media (max-width: 480px) {
    body{
        font-size: 8px !important;
    }
    .header__content{
        grid-template-columns: 410px/1170px*100% 310px/1170px*100% 410px/1170px*100% !important;
        grid-gap: 13.5px/1170px*100% !important;
       }
    .header__logo__title{
        grid-template-columns: 100% !important;
        grid-template-rows:100% !important;
        grid-row-gap: 10px/90px*100%;
        grid-gap: 0px !important;
        align-self: center;
    }
    .header__logo{
        max-width: 100px;
        max-height: 100%;
        grid-area: 1/1/2/2;
        justify-self: left !important;
    }
    .header__title{
        display: none;
    }
    .header__button{
        padding: 10px/16px*1em 5px/16px*1em !important;
        grid-gap: 2px/135px*100% !important
    }
    .header__button p{
        font-size: 9px/16px*1em !important;
        text-align: center !important;
    }
    .header__hours__phone{
        grid-template-columns: 100% !important;
        grid-template-rows:100% !important;
        grid-gap: 0px !important;
        justify-content: end;
        align-items: center;
       }
        .work__time{
            display: none !important;
        }
       
       .header__phone{
        grid-area: 1/1/2/2 !important;
        grid-template-columns: 100% !important;
        align-self: center !important;
       }
       .header__phone img{
        display: none !important;
       }
       .header__phone .number{
           grid-area: 1/1/2/2 !important;
       }
       .header__phone .goform{
           grid-area: 2/1/3/2 !important;
       }
}

