@import fonts
@import media
@import animations

*
    padding: 0
    margin: 0
    
body
    font-size: 16px

.container 
    max-width: 1190px
    padding: 0 10px 0 10px
    margin: 0 auto

.button__zakaz
    border-radius: 10px
    border: 1px solid #ffc600
    box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4)
    background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%)
    background-color: #e8e8e8
    text-align: center
    +sanscond
    +bold
    color: #000000
    font-size: 25px/16px*1em
    max-width: 304px
    text-transform: uppercase



header
    background-color: #fff
    margin: 0 auto
    position: fixed
    width: 100%
    top: 0px
    z-index: 50
    padding: 20px 0 20px 0
    
   
    .header__content
        justify-self: center
        align-items: center
        display: grid
        box-sizing: border-box
        grid-template-columns: 446px/1170px*100% 170px/1170px*100% 447px/1170px*100%
        grid-template-rows: 60px
        grid-column-gap: 53.5px/1170px*100%
        width: 100%
        height: 100%
        max-height: 60px
        z-index: 51

        .header__logo__title
            display: grid
            grid-template-columns: 142px/446px*100% 278px/446px*100%
            grid-template-rows: auto
            grid-column-gap: 26px/387px*100%
            z-index: 51
            align-items: center
            

            .header__logo
                width: 100%
                align-self: center
                max-width: 142px
                max-height: 42px

            .header__title
                p
                +opensans
                +regular
                color: #0096dc
                font-size: 0.875em
                z-index: 51
        
        .header__button
            padding: 15px 15px
            // box-sizing: border-box
            display: grid
            grid-template-columns: 30px/135px*100% 95px/135px*100%
            grid-template-rows: auto
            grid-column-gap: 10px/135px*100%
            align-items: center
            // justify-items: center
            //width: 100%
            max-height: 60px
            border: 2px solid #55a831
            border-radius: 10px
            text-decoration: none
            z-index: 51
            background-color: #ffffff
            
            img
                grid-area: 1/1/2/2
                width: 100%
                height: 100%
                max-width: 30px
                max-height: 30px
                align-self: center
            
            p
                grid-area: 1/2/2/3
                text-align: left
                text-transform: uppercase
                +opensans
                +bold
                font-size: 14px/16px*1em
                color: #55a831
                border-bottom: none

        .header__button:hover
            border: 2px solid #3a790e
            cursor: pointer
            p
                color: #3a790e

        .header__hours__phone
            display: grid
            grid-template-columns: 146px/447px*100% 231px/447px*100%
            grid-template-rows: 100%
            grid-column-gap: 70px/447px*100%
            z-index: 51
            align-items: center

            .work__time
                display: grid
                grid-template-columns: 30px/146px*100% 96px/146px*100%
                grid-template-rows: repeat(2,30px)
                grid-column-gap: 20px/146px*100%
                align-items: center

                img
                    grid-area: 1/1/3/2
                    width: 100%
            
                .without__weekends
                    grid-area: 1/2/2/3
                    align-self: end
                    +opensans
                    +regular
                    color: #333333
                    font-size: 14px/16px*1em
                .working__time
                    grid-area: 2/2/3/3
                    align-self: start
                    +opensans
                    +bold
                    color: #333333
                    font-size: 18px/16px*1em
    
            .header__phone
                display: grid
                grid-template-columns: 20px/231px*100% 198px/231px*100%
                grid-template-rows: repeat(2,30px)
                grid-column-gap: 5px/231px*100%
                align-items: center

                img
                    grid-area: 1/1/2/2
                    width: 100%
                
                .number
                    grid-area: 1/2/2/3
                    text-decoration: none
                    +opensans
                    +bold
                    font-size: 22px/16px*1em
                    color: #333333
                    text-align: right
                .goform
                    grid-area: 2/2/3/3
                    +opensans
                    +regular
                    font-size: 15px/16px*1em
                    color: #0089cc
                    text-align: right

main
    margin-top: 80px
    .whowe
        background-image: url(../img/bgwhowe.jpg)
        background-position: center center
        background-repeat: no-repeat
        background-attachment: fixed
        background-size: cover
        padding: 100px 0
        margin: 0
        
            
        .whowe__main
            display: grid
            grid-template-columns: 43% 32%
            grid-template-rows: 442px
            grid-gap: 25%

            .whowe__left
                display: grid
                grid-template-columns: auto
                grid-template-rows: 50% 50%
               
                .whowe__title
                    display: grid
                    grid-template-columns: auto
                    grid-template-rows: 50% 50%
                    .whowe__title__one
                        +opensans
                        +bold
                        color: #333333
                        font-size: 26px/16px*1em
                    .whowe__title__two
                        +opensans
                        +bold
                        color: #333333
                        font-size: 55px/16px*1em
            .whowe__favorite
                display: grid
                grid-template-columns: repeat(4,22%)
                grid-gap: 4%
                .contain
                    position: relative
                    display: grid
                    grid-template-columns: auto
                    grid-template-rows: 50% 50%
                    justify-items: center
                    span
                        grid-area: 2/1/3/2
                        width: 110px
                        height: 110px
                        background-color: #0d8fe3
                        border: 1px solid #ffffff
                        border-radius: 50%
                        position: absolute
                        z-index: 3
                        bottom: 0
                    img
                        z-index: 4
                        position: absolute
                        bottom: 84px/16px*1em
                    p
                        z-index: 4
                        +sanscond
                        +bold
                        font-size: 1.2em
                        color: #ffffff
                        grid-area: 2/1/3/2
                        align-self: center
                        justify-self: center
                        text-align: center
            .form
                display: grid
                grid-template-columns: auto
                grid-template-rows: 25% 75%
                background-color: #ffffff
                border-radius: 10px
                max-width: 370px
                .form__title
                    text-align: center
                    display: grid
                    grid-template-rows: 50%
                    grid-auto-columns: auto
                   
                    p
                        align-self: end
                        +opensans
                        +bold
                        font-size: 16px/16px*1em
                        color: #333333
                        text-transform: uppercase
                    h1
                        align-self: start
                        +opensans
                        +bold
                        font-size: 24px/16px*1em
                        color: #333333
                        text-transform: uppercase
                form
                    display: grid
                    grid-template-columns: auto
                    grid-template-rows: 18% 18% 24% 18%
                    grid-gap: 7%
                    justify-items: center

                    input
                        border-radius: 10px
                        border: 1px solid #d1d1d1
                        text-align: center
                        width: 79%
                    .button
                        border-radius: 10px
                        border: 1px solid #ffc600
                        box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4)
                        background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%)
                        background-color: #e8e8e8
                        text-align: center
                        +sanscond
                        +bold
                        color: #000000
                        font-size: 20px/16px*1em
                        width: 79%
                        text-transform: uppercase
                    p
                        +opensans
                        +light
                        font-size: 11px/16px*1em
                        color: #666666
    

    .type__balkon
        display: grid
        grid-template-columns: auto
        grid-template-rows: 61px  200px  689px
        grid-row-gap: 61px
        padding: 80px 0 80px 0
        
        
        

        .main__primer__title
            display: grid
            height: 61px
            grid-template-rows: 70% 30%
            text-align: center
            justify-items: center

            h1
                +opensans
                +bold
                color: #333333
                font-size: 30px/16px*1em
                line-height: 48px
                text-transform: uppercase   
                align-self: start
            
            .bbottom
                background-color: #57B1EC
                width: 9.6%
                height: 7.7%
                align-self: end
        
        .main__primer__type
            height: 200px
            display: grid
            grid-template-columns: repeat(5,18%)
            grid-gap: 2.5%

            .type__name
                display: grid
                grid-template-columns: auto
                grid-template-rows: 70% 30%
                justify-items: center
                text-align: center
                height: 100%

                img
                    grid-area: 1/1/2/2
                    align-self: center
                    width: 100%
                    max-width: 100px

                p
                    grid-area: 2/1/3/2
                    align-self: center
                    color: #249ae6
                    +opensans
                    +regular
                    font-size: 100%
                    line-height: 26px/16px*1em
                .active
                    color: #464646
                    text-decoration: none
            .type__name:hover
                cursor: pointer
        
        
        
    
        .primer__raboty
            display: grid
            grid-template-columns: 50% 50% 
            grid-template-rows: 698px/16px*1em
            max-height: 698px/16px*1em

            .arrow-6
                display: none

            .cold
                background-image: url("../img/cold.png")
                background-repeat: no-repeat
                background-size: cover
                display: grid
                grid-template-rows: 88px/689px*100% 601px/689px*100%

                .upper__cold
                    display: grid
                    grid-template-columns: 100%
                    grid-template-rows: 11px/88px*100% 77px/88px*100%

                    .cold__line
                        display: grid
                        grid-template-rows: 5px/11.98px*100%  7px/11.98px*100%

                        .upper__line
                            background-color: #0d8fe3
                            border-radius: 5px 0 0
                            width: 100%
                            height: 100%
                        .treugolnik
                            width: 0
                            height: 0
                            border-left: 7px solid transparent
                            border-right: 7px solid transparent
                            border-top: 7px solid #0d8fe3
                            justify-self: center
                    
                    h1
                        +opensans
                        +bold
                        font-size: 20px/16px*1em
                        text-transform: uppercase
                        color: #0d8fe3
                        justify-self: center
                        align-self: center
                
            .content__primer__cold
                max-width: 446px/585px*100%
                margin: 0 auto
                display: grid
                grid-template-columns: auto
                grid-template-rows: 300px/601px*100% 115px/601px*100% 99px/601px*100% 
                grid-row-gap: 43.5px/601px*100%
            
                .primer__image__cold
                    background-image: url(../img/derevocold.png)
                    background-size: cover
                    width: 100%
                    justify-self: center
                    max-height: 100%

                .content__priemushestva
                    display: grid
                    grid-template-columns: auto
                    grid-template-rows: repeat(4,(25px/115px*100%))
                    grid-row-gap: 5px/115px*100%
                    .cold__checkbox
                        display: grid
                        grid-template-columns: 25px/446px*100% 421px/446px*100%
                        grid-gap: 17px/446px*100%

                        p
                            color: #000000
                            +opensans
                            +regular
                            font-size: 0.9em
                            line-height: 30px
                        
                        img
                            width: 95%
                            max-height: 95%
                            justify-self: center
                            align-self: center

                .primer__raboty__footer
                    display: grid
                    grid-template-columns: (155px+45px)/446px*100% (262px-45px)/446px*100%
                    grid-column-gap: 25px/446px*100%
                    height: 100%
                    
                    .primer__raboty__footer__cold__left
                        display: grid
                        grid-template-rows: 50% 50%

                        .cost__cold
                            +opensans
                            +bold
                            font-size: 1.25em
                            line-height: 1.875em
                            align-self: center
                        
                        .key
                            +opensans
                            +regular
                            font-size: 0.875em
                            line-height: 1.875em
                            align-self: center

                    .primer__raboty__footer__cold__right
                        .button
                            border-radius: 10px
                            border: 1px solid #ffc600
                            box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4)
                            background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%)
                            background-color: #e8e8e8
                            text-align: center
                            +sanscond
                            +bold
                            color: #000000
                            font-size: 1.25em
                            width: 100%
                            height: 90%
                            text-transform: uppercase
                            align-self: center
                            +bold




            .hot
                background-image: url("../img/hot.png")
                background-repeat: no-repeat
                background-size: cover
                display: grid
                grid-template-rows: 88px/689px*100% 601px/689px*100%

                .upper__hot
                    display: grid
                    grid-template-columns: 100%
                    grid-template-rows: 11px/88px*100% 77px/88px*100%

                    .hot__line
                        display: grid
                        grid-template-rows: 5px/11.98px*100%  7px/11.98px*100%

                        .upper__line
                            background-color: #ffb903
                            border-radius: 0 5px 0 0
                            width: 100%
                            height: 100%
                        .treugolnik
                            width: 0
                            height: 0
                            border-left: 7px solid transparent
                            border-right: 7px solid transparent
                            border-top: 7px solid #ffb903
                            justify-self: center
                    
                    h1
                        +opensans
                        +bold
                        font-size: 20px/16px*1em
                        text-transform: uppercase
                        color: #ffb903
                        justify-self: center
                        align-self: center
                
            .content__primer__hot
                max-width: 446px/585px*100%
                margin: 0 auto
                display: grid
                grid-template-columns: auto
                grid-template-rows: 300px/601px*100% 115px/601px*100% 99px/601px*100% 
                grid-row-gap: 43.5px/601px*100%
            
                .primer__image__hot
                    background-image: url(../img/derevohot.png)
                    background-size: cover
                    background-position: center center
                    background-repeat: no-repeat
                    width: 100%
                    max-height: 100%

                .content__priemushestva
                    display: grid
                    grid-template-columns: auto
                    grid-template-rows: repeat(4,(25px/115px*100%))
                    grid-row-gap: 5px/115px*100%
                    .hot__checkbox
                        display: grid
                        grid-template-columns: 25px/446px*100% 421px/446px*100%
                        grid-gap: 17px/446px*100%

                        p
                            color: #000000
                            +opensans
                            +regular
                            font-size: 0.9em
                            line-height: 30px
                        
                        img
                            width: 95%
                            max-height: 95%
                            justify-self: center
                            align-self: center

                .primer__raboty__footer
                    display: grid
                    grid-template-columns: (155px+45px)/446px*100% (262px-45px)/446px*100%
                    grid-column-gap: 25px/446px*100%
                    height: 100%
                    
                    .primer__raboty__footer__hot__left
                        display: grid
                        grid-template-rows: 50% 50%

                        .cost__hot
                            +opensans
                            +bold
                            font-size: 1.25em
                            line-height: 1.875em
                            align-self: center
                        
                        .key
                            +opensans
                            +regular
                            font-size: 0.875em
                            line-height: 1.875em
                            align-self: center

                    .primer__raboty__footer__hot__right
                        .button
                            border-radius: 10px
                            border: 1px solid #ffc600
                            box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4)
                            background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%)
                            background-color: #e8e8e8
                            text-align: center
                            +sanscond
                            +bold
                            color: #000000
                            font-size: 1.25em
                            width: 100%
                            height: 90%
                            text-transform: uppercase
                            align-self: center
                            +bold


    .main__primer__otdelky
        background-color: #f7f7f7
        

        .container

            .primer__otdelki
                display: grid
                grid-template-columns: auto
                grid-template-rows:  auto auto
                grid-row-gap: 40px/16px*1em
                padding: 79px 0 79px 0
                height: auto

                .primer__otdelki__upper
                    display: grid
                    grid-template-columns: auto
                    grid-template-rows: auto
                    grid-row-gap: 80px/16px*1em

                    .primer__otdelki__title
                        display: grid
                        grid-template-columns: auto
                        grid-template-rows: 36px 25px
                        justify-items: center
                        
                        h1
                            +opensans
                            +bold
                            font-size: 30px/16px*1em
                            color: #333333
                            text-transform: uppercase
                        
                        .primer__title__border
                            background-color: #57B1EC
                            width: 9.6%
                            height: 7.7%
                            align-self: end

                    .primer__otdelki__menu      
                        display: grid
                        grid-template-columns: repeat(4,25%)
                        grid-template-rows: 100px

                        .vnutr__otdelka
                            border-right: 2px solid
                            border-color: #EFEFEF 
                        .vnesh__otdelka
                            border-right: 2px solid
                            border-color: #EFEFEF
                        .vynos__otdelka
                            border-right: 2px solid
                            border-color: #EFEFEF
                              

                        .navedenie__otdelka
                            background-color: #EDEDED

                        .active__otdelka
                            background-color: #EDEDED

                        .active__p
                            +opensans
                            +regular
                            font-size: 20px/16px*1em
                            text-transform: uppercase
                            justify-self: center
                            align-self: center
                            color: #0085db
                            border-bottom: none

                        .otdelka
                            display: grid
                            grid-template-rows: 22px 78px

                            .upper__otd
                                display: grid
                                grid-template-columns: 100%
                                grid-template-rows: 10px 12px
                                opacity: 0%
                        
                                .otdelka__upper
                                    background-color: #0d8fe3
                                    width: 100%
                                    height: 100%

                                
                                .otdelka__treugolnik
                                    width: 0
                                    height: 0
                                    border-left: 6px solid transparent
                                    border-right: 6px solid transparent
                                    border-top: 6px solid #0d8fe3
                                    justify-self: center

                            .otdelka__p
                                +opensans
                                +regular
                                font-size: 20px/16px*1em
                                text-transform: uppercase
                                justify-self: center
                                align-self: center
                                color: #000000
                                border-bottom: 1px dotted #000000

                        .otdelka:hover
                            cursor: pointer
                            background-color: #EDEDED
                            .upper__otd
                                opacity: 100%
                            .otdelka__p
                                color: #0085db
                                border-bottom: none 

                        

                .primer__content
                    display: grid
                    grid-template-columns: 300px/1169px*100% 402px/1169px*100% 370px/1169px*100%
                    grid-column-gap: 48.5px/16px*1em
                    grid-template-rows: 442px

                    .img__primer
                        max-width: 300px
                        width: 100%
                        max-height: 100%
                        height: 100%
                        align-self: center
                        justify-self: center
                    .primer__content__material
                        display: grid
                        grid-template-columns: repeat(3,107px/402px*100%)
                        grid-template-rows: 159px 159px
                        grid-row-gap: 70px/442px*100%
                        grid-column-gap: 40.5px/402px*100%
                        margin: 30px/442px*100% 0 24px/442px*100%
                        

                        .material__content
                            display: grid
                            grid-template-columns: auto
                            grid-template-rows: 70px 69px
                            grid-row-gap: 20px
                            max-width: 110px

                            img
                                max-width: 70px 
                                max-height: 70px
                                width: 100%
                                height: 100%
                                align-self: start
                                justify-self: center
                                border-radius: 50%
                            
                            .material__content__title
                                display: grid
                                grid-template-columns: auto
                                grid-template-rows: 34px 15px 10px
                                grid-row-gap: 5px
                            
                                .material__title
                                    +opensans
                                    +bold
                                    font-size: 14px/16px*1em
                                    text-align: center
                                    justify-self: center
                                    align-self: start

                                .material__razmer
                                    +opensans
                                    +bold
                                    font-size: 14px/16px*1em
                                    color: #0d8fe3
                                    justify-self: center
                                    align-self: start
                                
                                .with__material
                                    +opensans
                                    +regular
                                    font-size: 12px/16px*1em
                                    text-align: center
                                    align-self: center


                    .form__otdelka
                        display: grid
                        grid-template-columns: auto
                        grid-template-rows: 25% 75%
                        background-color: #ffffff
                        border-radius: 10px
                        height: 100%
                        max-width: 370px
                        .form__title
                            text-align: center
                            display: grid
                            grid-template-rows: 50%
                            grid-auto-columns: auto
                            p
                                align-self: end
                                +opensans
                                +bold
                                font-size: 16px/16px*1em
                                color: #333333
                                text-transform: uppercase
                            h1
                                align-self: start
                                +opensans
                                +bold
                                font-size: 24px/16px*1em
                                color: #333333
                                text-transform: uppercase
                        form
                            display: grid
                            grid-template-columns: auto
                            grid-template-rows: 18% 18% 24% 18%
                            grid-gap: 7%
                            justify-items: center

                            input
                                border-radius: 10px
                                border: 1px solid #d1d1d1
                                text-align: center
                                width: 79%
                            .button
                                border-radius: 10px
                                border: 1px solid #ffc600
                                box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4)
                                background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%)
                                background-color: #e8e8e8
                                text-align: center
                                +sanscond
                                +bold
                                color: #000000
                                font-size: 20px/16px*1em
                                width: 79%
                                text-transform: uppercase
                            p
                                +opensans
                                +light
                                font-size: 11px/16px*1em
                                color: #666666

    .main__our__work
        height: auto
        

        .our__work
            height: auto
            display: grid
            grid-template-columns: auto
            grid-template-rows: auto
            grid-row-gap: 80px/16px*1em  
            padding: 80px 0 80px 0

            .our__work__title
                display: grid
                grid-template-columns: 100%
                grid-template-rows: 23px 31px
                    
                h1
                    +opensans
                    +bold
                    font-size: 30px/16px*1em
                    color: #333333
                    text-transform: uppercase
                    justify-self: center
                    
                .bbottom
                    background-color: #57B1EC
                    width: 9.6%
                    height: 7.7%
                    align-self: end   
                    justify-self: center          

            
            .work__images
                display: grid
                grid-template-columns: repeat(4,270px/1170px*100%)
                grid-template-rows: repeat(2,270px/16px*1em)
                grid-row-gap: 30px
                grid-column-gap: 30px/1170px*100%
                position: relative

                
                .slider__For__PC
                    position: absolute
                    width: 80%
                    justify-self: center
                    height: 100%
                    max-height: 100%
                    z-index: 46
                    display: grid
                    grid-template-columns: 10% 80% 10%
                    justify-items: center
                    background: #ffffff9f 

                    .cl-btn-6 
                        position: relative
                        margin: 20px auto
                        width: 50px
                        cursor: pointer
                        grid-area: 1/3/2/4
                        align-self: start
                        justify-self: center
                        
                        .cl-btn-6-in 
                            width: inherit
                            text-align: center

                            .cl-btn-6-txt 
                                font-size: 9px
                                text-align: center
                                line-height: 40px
                                font-weight: bold
                                text-transform: uppercase
                                color: #337AB7
                                transition: all .3s ease-in
                                opacity: 0
                                cursor: pointer
                                font-family: Verdana
                            
                        .cl-btn-6-in:before, .cl-btn-6-in:after 
                            position: absolute
                            content: ''
                            height: 4px
                            width: inherit
                            background: #337AB7
                            left: 0
                            transition: all .3s ease-in

                        .cl-btn-6-in:before 
                            top: calc(50% - 4px) 
                            transform: rotate(45deg) 
                        
                        .cl-btn-6-in:after  
                            bottom: 50%
                            transform: rotate(-45deg)
                        
                    .cl-btn-6:hover
                        .cl-btn-6-txt 
                            opacity: 1
                        
                    .cl-btn-6:hover .cl-btn-6-in:before,.cl-btn-6:hover .cl-btn-6-in:after 
                        transform: rotate(0)
                        
                    .cl-btn-6:hover .cl-btn-6-in:before 
                        top: 0
                        
                    .cl-btn-6:hover .cl-btn-6-in:after 
                            bottom: 0
                        

                    .photos__slider__PC
                        grid-area: 1/2/2/3
                        display: grid
                        grid-template-columns: 100%
                        grid-template-rows: 100%
                        max-width: 100%
                        max-height: 100%
                        width: 100%
                        height: 100%
                        justify-self: center

                        .photo
                            width: 80%
                            height: 80%
                            max-height: 570px
                            opacity: 100%
                            justify-self: center
                            align-self: center
                    svg 
                        width: 40px
                        height: auto
                        cursor: pointer
                        overflow: visible
                    
                        polygon,path 
                            transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1)
                            fill: rgb(56, 147, 226)
        
                    svg:hover polygon,svg:hover path 
                        transition: all 1s cubic-bezier(0.2, 1, 0.3, 1)
                        fill: rgb(66, 163, 248)
        
                    svg:hover .arrow-PC-pl 
                        animation: arrow-61-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite
                        -webkit-animation: arrow-61-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite

                    svg:hover .arrow-PC-pl-fixed 
                        animation: arrow-61-fixed-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite
                        -webkit-animation: arrow-61-fixed-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite

                    .next__PC
                        grid-area: 1/3/2/4
                        align-self: center
                    .prev__PC
                        grid-area: 1/1/2/2
                        align-self: center



                .container__photo
                    position: relative
                    .photo
                        width: 100%
                        height: 100%
                        max-width: 300px

                    .zoom 
                        opacity: 0%
                        position: absolute
                        top: 115px/270px*100%
                        left: 115px/270px*100%

                .container__photo:hover
                    cursor: pointer
                    img
                        opacity: 70%
                    .zoom
                        opacity: 100%
                        

    .main__garantiya
        background-image: url(../img/bg3.png)
        background-repeat: no-repeat
        background-size: cover
        padding: 80px 0 80px 0

        .container

            .garantiya__we
                display: grid
                grid-template-columns: 100%
                grid-template-rows: auto
                grid-row-gap: 80px/16px*1em

                .garantiya__title
                    display: grid
                    grid-template-columns: 100%
                    grid-template-rows: 23px 31px
                    

 

                    h1
                        +opensans
                        +bold
                        text-transform: uppercase
                        font-size: 30px/16px*1em
                        color: #ffffff
                        justify-self: center
                    
                    .bbottom
                        background-color: #ffffff
                        width: 9.6%
                        height: 7.7%
                        align-self: end
                        justify-self: center

                .garantya__content
                    display: grid
                    grid-template-columns: repeat(3,170px/976px*100%)
                    grid-template-rows: auto
                    grid-row-gap: 79px
                    grid-column-gap: 220px/976px*100%

                    .garantya__container    
                        display: grid
                        grid-template-columns: 100%
                        grid-template-rows: 70px 40px
                        grid-row-gap: 32px
                        max-width: 170px

                        img
                            justify-self: center
                            
                        p
                            text-align: center
                            align-self: start
                            +opensans
                            color: #ffffff
                            font-size: 18px/16px*1em
                            +regular

            
    .main__sposob__oplaty
        margin: 80px 0 80px 0

        .container  
            .sposoby__oplaty
                display: grid
                grid-template-columns: 100%
                grid-template-rows: auto
                grid-row-gap: 79px/16px*1em

                h1
                    +opensans
                    +bold
                    font-size: 30px/16px*1em
                    justify-self: center
                
                .sposob__oplaty__container
                    display: grid
                    grid-template-columns: repeat(3,303px/1176px*100%)
                    grid-column-gap: 133.5px/1176px*100%

                    .sposoby__oplaty__contain
                        display: grid
                        grid-template-columns: 70px/303px*100% 203px/303px*100%
                        grid-column-gap: 30px/303px*100%

                        img
                            width: 100%
                            max-width: 70px

                        p  
                            align-self: center
                            justify-self: start
                            +opensans
                            +regular
                            font-size: 20px/16px*1em 
         
                
    .main__sale
        background-image: url(../img/manbg.png) 
        background-position: center center
        background-repeat: no-repeat
        background-size: cover
        margin: 0
        padding: 80px 0 80px 0

        .sale__contain
            display: grid
            grid-template-columns: 400px/1171px*100% 370px/1171px*100%
            grid-template-rows: auto
            grid-column-gap: 404px/1171px*100%
            grid-row-gap: 80px/16px*1em
            
            .sale__title
                grid-area: 1/1/2/2
                display: grid
                grid-template-columns: 100%
                grid-template-rows: 45px 64px
                grid-row-gap: 81px/16px*1em

                h1
                    +opensans
                    +bold
                    font-size: 48px/16px*1em
                    text-transform: uppercase
                    color: #008cce

                p
                    +opensans
                    +regular
                    font-size: 24px/16px*1em
            
            .sale__time
                border-radius: 10px
                border: 1px solid #d1d1d1
                background-color: #ffffff
                display: grid
                grid-template-columns: 100%
                grid-template-rows: (14px+21px) (19px+50px+18px+13px+25px)

                h2
                    +opensans
                    +bold
                    font-size: 14px/16px*1em
                    justify-self: center
                    align-self: end
                    text-transform: uppercase

                .sale__timer
                    display: grid
                    grid-template-columns: 100%
                    grid-template-rows: (13px+25px+87px)
                    margin-top: 10px/160px*100%
                    align-self: end

                    .timer
                        
                        align-self: center
                        
                    

            .form__sale
                grid-area: 1/2/3/2 
                display: grid
                grid-template-columns: auto
                grid-template-rows: 25% 75%
                background-color: #ffffff
                border-radius: 10px
                height: 100%
                        
                .form__title
                    text-align: center
                    display: grid
                    grid-template-rows: 50%
                    grid-auto-columns: auto
                        
                    p
                        align-self: end
                        +opensans
                        +bold
                        font-size: 16px/16px*1em
                        color: #333333
                        text-transform: uppercase
                    h1
                        align-self: start
                        +opensans
                        +bold
                        font-size: 24px/16px*1em
                        text-transform: uppercase
                        
                form
                    display: grid
                    grid-template-columns: auto
                    grid-template-rows: 18% 18% 24% 18%
                    grid-gap: 7%
                    justify-items: center

                    input
                        border-radius: 10px
                        border: 1px solid #d1d1d1
                        text-align: center
                        width: 79%
                        
                    .button
                        border-radius: 10px
                        border: 1px solid #ffc600
                        box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4)
                        background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%)
                        background-color: #e8e8e8
                        text-align: center
                        +sanscond
                        +bold
                        color: #000000
                        font-size: 20px/16px*1em
                        width: 79%
                        text-transform: uppercase
                    p
                        +opensans
                        +light
                        font-size: 11px/16px*1em
                        color: #666666  
    
    .main__where_we
        padding: 80px 0 80px 0
        .container

            .where__we
                display: grid
                grid-template-columns: 569px/1170px*100% 472px/1170px*100%
                grid-template-rows: auto
                grid-row-gap: 80px/16px*1em
                grid-column-gap: 129px/1170px*100%

                .where__we__title
                    grid-area: 1/1/2/3
                    display: grid
                    grid-template-columns: 100%
                    grid-template-rows: 30px 31px/16px*1em

                    h1

                        +opensans
                        +bold
                        text-transform: uppercase
                        font-size: 30px/16px*1em
                        color: #000000
                        justify-self: center 
                    
                    .bbottom
                        background-color: #57B1EC
                        width: 9.6%
                        height: 2px
                        align-self: end
                        justify-self: center
                
                .map
                    grid-area: 2/1/2/2
                    max-width: 100%

                    .maps
                        max-width: 100%

                .where__we__info
                    grid-area: 2/2/3/3
                    display: grid
                    grid-template-columns: 100%
                    grid-template-rows: repeat(5,61.4px)
                    grid-row-gap:  42px/16px*1em

                    .info__container
                        display: grid
                        grid-template-columns: 100%
                        grid-template-rows: 16px 28.4px
                        grid-row-gap: 17px/16px*1em

                        .info__sup
                            +opensans
                            +bold
                            font-size: 15px/16px*1em
                            color: #008cce

                        .info__sub
                            +opensans
                            +regular
                            font-size: 18px/16px*1em
    
    .main__many__questions
        border: 1px solid #ffffff
        background-color: #00a0eb
        padding: 80px 0 80px 0

        .container

            .questions
                display: grid
                grid-template-columns: 409px/1170px*100% 722px/1170px*100%
                grid-template-rows: auto
                grid-column-gap: 39px/1170px*100%

                p
                    +opensans
                    font-size: 30px/16px*1em
                    +regular
                    color: #ffffff
                    justify-self: end
                
                a
                    +opensans
                    +bold
                    font-size: 30px/16px*1em
                    color: #ffffff
                    justify-self: start

                a:hover
                    color: #f8e1e1
    
footer
    padding: 40px/16px*1em 0 40px/16px*1em 0
        
    .container
        max-width: 1190px
        padding: 0 10px 0 10px
        margin: 0 auto

        .footer__contain
            display: grid
            grid-template-columns: repeat(3,176px/1170px*100%)
            grid-template-rows: auto
            grid-column-gap: 321px/1170px*100%

            p   
                +opensans
                +regular
                font-size: 15px/16px*1em
                color: #000000
                text-align-last: left
                justify-self: start
                align-self: center

            img
                width: 100%
                align-self: center

            .right  
                display: grid
                grid-template-columns: auto
                grid-template-rows: 16px 14px
                text-align: right
                grid-row-gap: 6px/16px*1em
                
                .tel
                    +opensans
                    +bold
                    font-size: 18px/16px*1em
                    color: #333333
                    align-self: center

                .mail
                    color: #0090d5
                    font-family: "Open Sans"
                    font-size: 14px/16px*1em
                    font-weight: 400
                    line-height: 26px
                    align-self: center
                    justify-self: end





