@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap&subset=cyrillic");
* {
  padding: 0;
  margin: 0; }

.container {
  max-width: 1190px;
  padding: 0 10px 0 10px;
  margin: 0 auto; }

header {
  background-color: #fff;
  margin: 0;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 50; }

.header__content {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 12.126% 2.22% 18.7% 9.65% 14.5175% 4.61% 12.468% 6% 19.72%;
  padding: 20px 0;
  width: 100%;
  align-items: center;
  z-index: 51; }
  .header__content .header__logo {
    width: 100%;
    align-self: center;
    z-index: 51; }
  .header__content .header__title {
    font-family: "Open Sans";
    font-weight: 400;
    color: #0096dc;
    font-size: 0.875em;
    width: 100%;
    z-index: 51; }
  .header__content .header__button {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 17.65% 5.8% 55.8%;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid #55a831;
    border-radius: 10px;
    text-decoration: none;
    z-index: 51; }
    .header__content .header__button p {
      text-transform: uppercase;
      font-family: "Open Sans";
      font-weight: 700;
      font-size: 1.3125vh;
      color: #55a831;
      border-bottom: none;
      z-index: 51; }
  .header__content .header__button:hover {
    border: 2px solid #3a790e; }
    .header__content .header__button:hover p {
      color: #3a790e; }
  .header__content .header__clock {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 15% 65%;
    grid-template-rows: repeat(2, 50%);
    z-index: 51; }
    .header__content .header__clock img {
      grid-area: 1/1/3/2;
      align-self: center; }
    .header__content .header__clock span {
      grid-area: 1/2/3/3; }
    .header__content .header__clock .header__clock__title {
      grid-area: 1/3/3/4;
      display: grid;
      grid-template-columns: 100%;
      grid-row: repeat(2, 50%); }
      .header__content .header__clock .header__clock__title .weekend {
        align-self: center;
        font-family: "Open Sans";
        font-weight: 400;
        color: #333333;
        font-size: 1.3125vh; }
      .header__content .header__clock .header__clock__title .hours {
        align-self: center;
        font-family: "Open Sans";
        font-weight: 700;
        color: #333333;
        font-size: 100%; }
  .header__content .header__contact {
    height: 100%;
    display: grid;
    grid-template-columns: 8.65% 6.5% 84.85%;
    grid-template-rows: repeat(2, 50%);
    z-index: 51; }
    .header__content .header__contact img {
      grid-area: 1/1/2/2;
      align-self: center; }
    .header__content .header__contact span {
      grid-area: 1/2/3/3; }
    .header__content .header__contact .phone {
      grid-area: 1/3/3/4;
      display: grid;
      grid-template-columns: 100%;
      grid-row: repeat(2, 50%); }
      .header__content .header__contact .phone .number {
        text-decoration: none;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 1.375em;
        color: #333333;
        text-align: right; }
      .header__content .header__contact .phone .goform {
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 0.9375em;
        color: #0089cc;
        text-align: right; }

main {
  margin-top: 100px; }
  main .whowe {
    background-image: url(../img/bgwhowe.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 100px 0;
    margin: 0; }
    main .whowe .whowe__main {
      display: grid;
      grid-template-columns: 43% 32%;
      grid-template-rows: 442px;
      grid-gap: 25%; }
      main .whowe .whowe__main .whowe__left {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 50% 50%; }
        main .whowe .whowe__main .whowe__left .whowe__title {
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: 50% 50%; }
          main .whowe .whowe__main .whowe__left .whowe__title .whowe__title__one {
            font-family: "Open Sans";
            font-weight: 700;
            color: #333333;
            font-size: 1.625em; }
          main .whowe .whowe__main .whowe__left .whowe__title .whowe__title__two {
            font-family: "Open Sans";
            font-weight: 700;
            color: #333333;
            font-size: 3.4375em; }
      main .whowe .whowe__main .whowe__favorite {
        display: grid;
        grid-template-columns: repeat(4, 22%);
        grid-gap: 4%; }
        main .whowe .whowe__main .whowe__favorite .contain {
          position: relative;
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: 50% 50%;
          justify-items: center; }
          main .whowe .whowe__main .whowe__favorite .contain span {
            grid-area: 2/1/3/2;
            width: 100%;
            height: 100%;
            background-color: #0d8fe3;
            border: 1px solid #ffffff;
            border-radius: 50%;
            position: absolute;
            z-index: 3;
            bottom: 0; }
          main .whowe .whowe__main .whowe__favorite .contain img {
            z-index: 4;
            position: absolute;
            bottom: 84px; }
          main .whowe .whowe__main .whowe__favorite .contain p {
            z-index: 4;
            font-family: "Open Sans Condensed";
            font-weight: 700;
            font-size: 1.2rem;
            color: #ffffff;
            grid-area: 2/1/3/2;
            align-self: center;
            justify-self: center;
            text-align: center; }
      main .whowe .whowe__main .form {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 25% 75%;
        background-color: #ffffff;
        border-radius: 10px; }
        main .whowe .whowe__main .form .form__title {
          text-align: center;
          display: grid;
          grid-template-rows: 50%;
          grid-auto-columns: auto; }
          main .whowe .whowe__main .form .form__title p {
            align-self: end;
            font-family: "Open Sans";
            font-weight: 700;
            font-size: 1em;
            color: #333333;
            text-transform: uppercase; }
          main .whowe .whowe__main .form .form__title h1 {
            align-self: start;
            font-family: "Open Sans";
            font-weight: 700;
            font-size: 1.5em;
            color: #333333;
            text-transform: uppercase; }
        main .whowe .whowe__main .form form {
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: 18% 18% 24% 18%;
          grid-gap: 7%;
          justify-items: center; }
          main .whowe .whowe__main .form form input {
            border-radius: 10px;
            border: 1px solid #d1d1d1;
            text-align: center;
            width: 79%; }
          main .whowe .whowe__main .form form .button {
            border-radius: 10px;
            border: 1px solid #ffc600;
            box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4);
            background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%);
            background-color: #e8e8e8;
            text-align: center;
            font-family: "Open Sans Condensed";
            font-weight: 700;
            color: #000000;
            font-size: 1.25em;
            width: 79%;
            text-transform: uppercase; }
          main .whowe .whowe__main .form form p {
            font-family: "Open Sans";
            font-weight: 300;
            font-size: 0.6875em;
            color: #666666; }
  main .type__balkon {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5.84% 7.95% 19.157% 3.73% 63.6%;
    margin: 79px 0 103px 0;
    height: 1044px; }
    main .type__balkon .main__primer__title {
      display: grid;
      grid-template-rows: 70% 30%;
      text-align: center;
      justify-items: center; }
      main .type__balkon .main__primer__title h1 {
        font-family: "Open Sans";
        font-weight: 700;
        color: #333333;
        font-size: 1.875em;
        line-height: 48px;
        text-transform: uppercase;
        align-self: start; }
      main .type__balkon .main__primer__title .bbottom {
        background-color: #57B1EC;
        width: 9.6%;
        height: 7.7%;
        align-self: end; }
    main .type__balkon .main__primer__type {
      display: grid;
      grid-template-columns: repeat(5, 18%);
      grid-gap: 2.5%; }
      main .type__balkon .main__primer__type .type__name {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 70% 30%;
        justify-items: center;
        text-align: center;
        height: 100%; }
        main .type__balkon .main__primer__type .type__name img {
          grid-area: 1/1/2/2;
          height: 100%;
          align-self: center; }
        main .type__balkon .main__primer__type .type__name a {
          grid-area: 2/1/3/2;
          align-self: center;
          color: #249ae6;
          font-family: "Open Sans";
          font-weight: 400;
          font-size: 100%;
          line-height: 26px; }
        main .type__balkon .main__primer__type .type__name .active {
          color: #464646;
          text-decoration: none; }
      main .type__balkon .main__primer__type .type__name:hover {
        cursor: pointer; }
    main .type__balkon .primer__raboty {
      display: grid;
      grid-template-columns: 50% 50%; }
      main .type__balkon .primer__raboty .content__primer {
        max-width: 76.2393162393%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 2.8614457831% 4.3674698795% 45.1807228916% 4.5180722892% 17.3192771084% 6.4759036145% 10.6060606061%; }
      main .type__balkon .primer__raboty .cold {
        background-image: url("../img/cold.png");
        display: grid;
        grid-template-rows: 1.8072289157% 4.0662650602% 94.1265060241%; }
        main .type__balkon .primer__raboty .cold .cold__line {
          display: grid;
          grid-template-rows: 41.7362270451% 58.4307178631%; }
          main .type__balkon .primer__raboty .cold .cold__line .upper__line {
            background-color: #0d8fe3;
            border-radius: 5px 0 0;
            width: 100%;
            height: 100%; }
          main .type__balkon .primer__raboty .cold .cold__line .treugolnik {
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 7px solid #0d8fe3;
            justify-self: center; }
        main .type__balkon .primer__raboty .cold h1 {
          font-family: "Open Sans";
          font-weight: 700;
          font-size: 1.25em;
          text-transform: uppercase;
          color: #0d8fe3;
          justify-self: center; }
        main .type__balkon .primer__raboty .cold img {
          width: 100%;
          justify-self: center; }
        main .type__balkon .primer__raboty .cold .content__priemushestva {
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: repeat(4, 21.7391304348%);
          grid-row-gap: 4.347826087%; }
          main .type__balkon .primer__raboty .cold .content__priemushestva .cold__checkbox {
            display: grid;
            grid-template-columns: 5.6053811659% 94.3946188341%;
            grid-gap: 3.8116591928%; }
            main .type__balkon .primer__raboty .cold .content__priemushestva .cold__checkbox p {
              color: #000000;
              font-family: "Open Sans";
              font-weight: 400;
              font-size: 0.9rem;
              line-height: 30px; }
            main .type__balkon .primer__raboty .cold .content__priemushestva .cold__checkbox img {
              width: 100%; }
        main .type__balkon .primer__raboty .cold .primer__raboty__footer {
          display: grid;
          grid-template-columns: 34.7533632287% 58.7443946188%;
          grid-column-gap: 5.6053811659%;
          height: 100%; }
          main .type__balkon .primer__raboty .cold .primer__raboty__footer .primer__raboty__footer__cold__left {
            display: grid;
            grid-template-rows: 50% 50%; }
            main .type__balkon .primer__raboty .cold .primer__raboty__footer .primer__raboty__footer__cold__left .cost__cold {
              font-family: "Open Sans";
              font-weight: 700;
              font-size: 1.25rem;
              line-height: 1.875rem;
              align-self: center; }
            main .type__balkon .primer__raboty .cold .primer__raboty__footer .primer__raboty__footer__cold__left .key {
              font-family: "Open Sans";
              font-weight: 400;
              font-size: 0.875rem;
              line-height: 1.875rem;
              align-self: center; }
          main .type__balkon .primer__raboty .cold .primer__raboty__footer .primer__raboty__footer__cold__right .button {
            border-radius: 10px;
            border: 1px solid #ffc600;
            box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4);
            background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%);
            background-color: #e8e8e8;
            text-align: center;
            font-family: "Open Sans Condensed";
            font-weight: 700;
            color: #000000;
            font-size: 1.25rem;
            width: 100%;
            height: 100%;
            text-transform: uppercase;
            font-weight: 700; }
      main .type__balkon .primer__raboty .hot {
        background-image: url("../img/hot.png");
        display: grid;
        grid-template-rows: 1.8072289157% 4.0662650602% 94.1265060241%; }
        main .type__balkon .primer__raboty .hot .hot__line {
          display: grid;
          grid-template-rows: 41.7362270451% 58.4307178631%; }
          main .type__balkon .primer__raboty .hot .hot__line .upper__line {
            background-color: #ffb903;
            border-radius: 0 5px 0 0;
            width: 100%;
            height: 100%; }
          main .type__balkon .primer__raboty .hot .hot__line .treugolnik {
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 7px solid #ffb903;
            justify-self: center; }
        main .type__balkon .primer__raboty .hot h1 {
          font-family: "Open Sans";
          font-weight: 700;
          font-size: 1.25em;
          text-transform: uppercase;
          color: #ffb903;
          justify-self: center; }
        main .type__balkon .primer__raboty .hot img {
          width: 100%;
          justify-self: center; }
        main .type__balkon .primer__raboty .hot .content__priemushestva {
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: repeat(4, 21.7391304348%);
          grid-gap: 4.347826087%; }
          main .type__balkon .primer__raboty .hot .content__priemushestva .hot__checkbox {
            display: grid;
            grid-template-columns: 5.6053811659% 94.3946188341%;
            grid-gap: 3.8116591928%; }
            main .type__balkon .primer__raboty .hot .content__priemushestva .hot__checkbox p {
              color: #000000;
              font-family: "Open Sans";
              font-weight: 400;
              font-size: 0.9rem;
              line-height: 30px; }
            main .type__balkon .primer__raboty .hot .content__priemushestva .hot__checkbox img {
              width: 100%; }
        main .type__balkon .primer__raboty .hot .primer__raboty__footer {
          display: grid;
          grid-template-columns: 34.7533632287% 58.7443946188%;
          grid-column-gap: 5.6053811659%;
          height: 100%; }
          main .type__balkon .primer__raboty .hot .primer__raboty__footer .primer__raboty__footer__hot__left {
            display: grid;
            grid-template-rows: 50% 50%; }
            main .type__balkon .primer__raboty .hot .primer__raboty__footer .primer__raboty__footer__hot__left .cost__hot {
              font-family: "Open Sans";
              font-weight: 700;
              font-size: 1.25rem;
              line-height: 1.875rem;
              align-self: center; }
            main .type__balkon .primer__raboty .hot .primer__raboty__footer .primer__raboty__footer__hot__left .key {
              font-family: "Open Sans";
              font-weight: 400;
              font-size: 0.875rem;
              line-height: 1.875rem;
              align-self: center; }
          main .type__balkon .primer__raboty .hot .primer__raboty__footer .primer__raboty__footer__hot__right .button {
            border-radius: 10px;
            border: 1px solid #ffc600;
            box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4);
            background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%);
            background-color: #e8e8e8;
            text-align: center;
            font-family: "Open Sans Condensed";
            font-weight: 700;
            color: #000000;
            font-size: 1.25rem;
            width: 100%;
            height: 100%;
            text-transform: uppercase;
            font-weight: 700; }
  main .main__primer__otdelky {
    background-color: #f7f7f7; }
    main .main__primer__otdelky .container .primer__otdelki {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 8.5753803596% 11.0650069156% 13.0013831259% 5.5325034578% 61.1341632089%;
      padding: 4.9375rem 0;
      height: 723px; }
      main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__title {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 59.0163934426% 40.9836065574%;
        justify-items: center; }
        main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__title h1 {
          font-family: "Open Sans";
          font-weight: 700;
          font-size: 1.875em;
          color: #333333;
          text-transform: uppercase; }
        main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__title .primer__title__border {
          background-color: #57B1EC;
          width: 9.6%;
          height: 7.7%;
          align-self: end; }
      main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__menu {
        display: grid;
        grid-template-columns: repeat(4, 25%); }
        main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__menu .vnutr__otdelka {
          display: grid;
          grid-template-rows: 10.6382978723% 12.7659574468% 76.5957446809%;
          background-image: linear-gradient(to bottom, #EDEDED 0%, rgba(0, 0, 0, 0) 100%); }
          main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__menu .vnutr__otdelka .vnutr__upper {
            background-color: #0d8fe3;
            width: 100%;
            height: 100%; }
          main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__menu .vnutr__otdelka .vnutr__treugolnik {
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #0d8fe3;
            justify-self: center; }
          main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__menu .vnutr__otdelka p {
            font-family: "Open Sans";
            font-weight: 400;
            font-size: 1.25rem;
            text-transform: uppercase;
            justify-self: center;
            align-self: center;
            color: #0085db; }
        main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__menu .vnutr__otdelka:hover {
          border: 1px solid responsive;
          background-image: linear-gradient(to bottom, #EDEDED 0%, rgba(0, 0, 0, 0) 100%);
          cursor: pointer; }
        main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__menu .vnesh__otdelka {
          display: grid;
          grid-template-rows: 10.6382978723% 12.7659574468% 76.5957446809%; }
          main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__menu .vnesh__otdelka .vnesh__upper {
            opacity: 0%;
            background-color: #0d8fe3;
            width: 100%;
            height: 100%; }
          main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__menu .vnesh__otdelka .vnesh__treugolnik {
            opacity: 0%;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #0d8fe3;
            justify-self: center; }
          main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__menu .vnesh__otdelka p {
            font-family: "Open Sans";
            font-weight: 400;
            font-size: 1.25rem;
            text-transform: uppercase;
            justify-self: center;
            align-self: center; }
        main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__menu .vnesh__otdelka:hover {
          border: 1px solid responsive;
          background-image: linear-gradient(to bottom, #EDEDED 0%, rgba(0, 0, 0, 0) 100%);
          cursor: pointer; }
        main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__menu .vynos__otdelka {
          display: grid;
          grid-template-rows: 10.6382978723% 12.7659574468% 76.5957446809%; }
          main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__menu .vynos__otdelka .vynos__upper {
            opacity: 0%;
            background-color: #0d8fe3;
            width: 100%;
            height: 100%; }
          main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__menu .vynos__otdelka .vynos__treugolnik {
            opacity: 0%;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #0d8fe3;
            justify-self: center; }
          main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__menu .vynos__otdelka p {
            font-family: "Open Sans";
            font-weight: 400;
            font-size: 1.25rem;
            text-transform: uppercase;
            justify-self: center;
            align-self: center; }
        main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__menu .vynos__otdelka:hover {
          border: 1px solid responsive;
          background-image: linear-gradient(to bottom, #EDEDED 0%, rgba(0, 0, 0, 0) 100%);
          cursor: pointer; }
        main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__menu .krysha__otdelka {
          display: grid;
          grid-template-rows: 10.6382978723% 12.7659574468% 76.5957446809%; }
          main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__menu .krysha__otdelka .krysha__upper {
            opacity: 0%;
            background-color: #0d8fe3;
            width: 100%;
            height: 100%; }
          main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__menu .krysha__otdelka .krysha__treugolnik {
            opacity: 0%;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #0d8fe3;
            justify-self: center; }
          main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__menu .krysha__otdelka p {
            font-family: "Open Sans";
            font-weight: 400;
            font-size: 1.25rem;
            text-transform: uppercase;
            justify-self: center;
            align-self: center; }
        main .main__primer__otdelky .container .primer__otdelki .primer__otdelki__menu .krysha__otdelka:hover {
          border: 1px solid responsive;
          background-image: linear-gradient(to bottom, #EDEDED 0%, rgba(0, 0, 0, 0) 100%);
          cursor: pointer; }
      main .main__primer__otdelky .container .primer__otdelki .primer__content {
        display: grid;
        grid-template-columns: 25.6629597947% 2.6518391788% 34.3883661249% 5.6458511548% 31.6509837468%;
        grid-template-rows: 100%; }
        main .main__primer__otdelky .container .primer__otdelki .primer__content .primer__content__material {
          display: grid;
          height: 100%;
          grid-template-columns: repeat(3, 26.6169154229%);
          grid-template-rows: repeat(2, 35.9728506787%);
          grid-column-gap: 10.9452736318%;
          grid-row-gap: 15.8371040724%;
          padding: 6.7873303167% 0 4.9773755656% 0; }
          main .main__primer__otdelky .container .primer__otdelki .primer__content .primer__content__material .material__content {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 56.6037735849% 19.4968553459% 17.6100628931% 6.2893081761%; }
            main .main__primer__otdelky .container .primer__otdelki .primer__content .primer__content__material .material__content img {
              height: 77.7777777778%;
              justify-self: center;
              border: 1px solid #000000;
              border-radius: 50%; }
            main .main__primer__otdelky .container .primer__otdelki .primer__content .primer__content__material .material__content .material__title {
              font-family: "Open Sans";
              font-weight: 700;
              font-size: 0.875em;
              text-align: center;
              justify-self: center;
              align-self: start; }
            main .main__primer__otdelky .container .primer__otdelki .primer__content .primer__content__material .material__content .material__razmer {
              font-family: "Open Sans";
              font-weight: 700;
              font-size: 0.875rem;
              color: #0d8fe3;
              justify-self: center;
              align-self: end; }
            main .main__primer__otdelky .container .primer__otdelki .primer__content .primer__content__material .material__content .with__material {
              font-family: "Open Sans";
              font-weight: 400;
              font-size: 0.75rem;
              justify-self: center;
              align-self: start; }
        main .main__primer__otdelky .container .primer__otdelki .primer__content .form {
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: 25% 75%;
          background-color: #ffffff;
          border-radius: 10px;
          height: 100%; }
          main .main__primer__otdelky .container .primer__otdelki .primer__content .form .form__title {
            text-align: center;
            display: grid;
            grid-template-rows: 50%;
            grid-auto-columns: auto; }
            main .main__primer__otdelky .container .primer__otdelki .primer__content .form .form__title p {
              align-self: end;
              font-family: "Open Sans";
              font-weight: 700;
              font-size: 1em;
              color: #333333;
              text-transform: uppercase; }
            main .main__primer__otdelky .container .primer__otdelki .primer__content .form .form__title h1 {
              align-self: start;
              font-family: "Open Sans";
              font-weight: 700;
              font-size: 1.5em;
              color: #333333;
              text-transform: uppercase; }
          main .main__primer__otdelky .container .primer__otdelki .primer__content .form form {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 18% 18% 24% 18%;
            grid-gap: 7%;
            justify-items: center; }
            main .main__primer__otdelky .container .primer__otdelki .primer__content .form form input {
              border-radius: 10px;
              border: 1px solid #d1d1d1;
              text-align: center;
              width: 79%; }
            main .main__primer__otdelky .container .primer__otdelki .primer__content .form form .button {
              border-radius: 10px;
              border: 1px solid #ffc600;
              box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4);
              background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%);
              background-color: #e8e8e8;
              text-align: center;
              font-family: "Open Sans Condensed";
              font-weight: 700;
              color: #000000;
              font-size: 1.25em;
              width: 79%;
              text-transform: uppercase; }
            main .main__primer__otdelky .container .primer__otdelki .primer__content .form form p {
              font-family: "Open Sans";
              font-weight: 300;
              font-size: 0.6875em;
              color: #666666; }
  main .main__our__work {
    padding: 80px 0; }
    main .main__our__work .our__work {
      height: 704px;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 7.6704545455% 80.9659090909%;
      grid-row-gap: 11.3636363636%; }
      main .main__our__work .our__work .our__work__title {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 42.5925925926% 57.4074074074%; }
        main .main__our__work .our__work .our__work__title h1 {
          font-family: "Open Sans";
          font-weight: 700;
          font-size: 1.875em;
          color: #333333;
          text-transform: uppercase;
          justify-self: center; }
        main .main__our__work .our__work .our__work__title .bbottom {
          background-color: #57B1EC;
          width: 9.6%;
          height: 7.7%;
          align-self: end;
          justify-self: center; }
      main .main__our__work .our__work .work__images {
        display: grid;
        grid-template-columns: repeat(4, 23.0769230769%);
        grid-template-rows: repeat(2, 47.3684210526%);
        grid-row-gap: 5.2631578947%;
        grid-column-gap: 2.5641025641%; }
        main .main__our__work .our__work .work__images .container__photo {
          position: relative; }
          main .main__our__work .our__work .work__images .container__photo .zoom {
            position: absolute;
            top: 42.5925925926%;
            left: 42.5925925926%; }
  main .main__garantiya {
    background-image: url(../img/bg3.png);
    padding: 80px 0; }
    main .main__garantiya .container .garantiya__we {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 10.9090909091% 72.9292929293%;
      grid-row-gap: 16.1616161616%;
      height: 495px; }
      main .main__garantiya .container .garantiya__we .garantiya__title {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 42.5925925926% 57.4074074074%; }
        main .main__garantiya .container .garantiya__we .garantiya__title h1 {
          font-family: "Open Sans";
          font-weight: 700;
          text-transform: uppercase;
          font-size: 1.875rem;
          color: #ffffff;
          justify-self: center; }
        main .main__garantiya .container .garantiya__we .garantiya__title .bbottom {
          background-color: #ffffff;
          width: 9.6%;
          height: 7.7%;
          align-self: end;
          justify-self: center; }
      main .main__garantiya .container .garantiya__we .garantya__content {
        display: grid;
        grid-template-columns: repeat(3, 17.4180327869%);
        grid-template-rows: 39.0581717452% 39.0581717452%;
        grid-row-gap: 21.8836565097%;
        grid-column-gap: 22.5409836066%; }
        main .main__garantiya .container .garantiya__we .garantya__content .garantya__container {
          display: grid;
          grid-template-columns: 100%;
          grid-template-rows: 49.2957746479% 28.1690140845%;
          grid-row-gap: 22.5352112676%; }
          main .main__garantiya .container .garantiya__we .garantya__content .garantya__container img {
            justify-self: center; }
          main .main__garantiya .container .garantiya__we .garantya__content .garantya__container p {
            text-align: center;
            align-self: start;
            font-family: "Open Sans";
            color: #ffffff;
            font-size: 1.125rem;
            font-weight: 400; }
  main .main__sposob__oplaty {
    margin: 80px 0; }
    main .main__sposob__oplaty .container .sposoby__oplaty {
      height: 179px;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 16.7597765363% 39.1061452514%;
      grid-row-gap: 44.1340782123%; }
      main .main__sposob__oplaty .container .sposoby__oplaty h1 {
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 1.875rem;
        justify-self: center; }
      main .main__sposob__oplaty .container .sposoby__oplaty .sposob__oplaty__container {
        display: grid;
        grid-template-columns: repeat(3, 25.7653061224%);
        grid-gap: 11.3520408163%; }
        main .main__sposob__oplaty .container .sposoby__oplaty .sposob__oplaty__container .sposoby__oplaty__contain {
          display: grid;
          grid-template-columns: 23.102310231% 66.99669967%;
          grid-gap: 9.900990099%; }
          main .main__sposob__oplaty .container .sposoby__oplaty .sposob__oplaty__container .sposoby__oplaty__contain img {
            width: 100%; }
          main .main__sposob__oplaty .container .sposoby__oplaty .sposob__oplaty__container .sposoby__oplaty__contain p {
            align-self: center;
            justify-self: start;
            font-family: "Open Sans";
            font-weight: 400;
            font-size: 1.25rem; }
  main .main__sale {
    background-image: url(../img/manbg.png);
    background-position: center;
    padding: 80px 0 80px 0; }
    main .main__sale .sale__contain {
      height: 442px;
      display: grid;
      grid-template-columns: 34.1588385995% 31.5969257045%;
      grid-template-rows: 42.9864253394% 36.1990950226%;
      grid-column-gap: 34.5004269855%;
      grid-row-gap: 18.0995475113%; }
      main .main__sale .sale__contain .sale__title {
        grid-area: 1/1/2/2;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 23.6842105263% 33.6842105263%;
        grid-row-gap: 42.6315789474%; }
        main .main__sale .sale__contain .sale__title h1 {
          font-family: "Open Sans";
          font-weight: 700;
          font-size: 3rem;
          text-transform: uppercase;
          color: #008cce; }
        main .main__sale .sale__contain .sale__title p {
          font-family: "Open Sans";
          font-weight: 400;
          font-size: 1.5rem; }
      main .main__sale .sale__contain .sale__time {
        border-radius: 10px;
        border: 1px solid #d1d1d1;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 21.875% 78.125%; }
        main .main__sale .sale__contain .sale__time h2 {
          font-family: "Open Sans";
          font-weight: 700;
          font-size: 0.875em;
          justify-self: center;
          align-self: end;
          text-transform: uppercase; }
        main .main__sale .sale__contain .sale__time .sale__timer {
          display: grid;
          grid-template-columns: repeat(3, 25%);
          grid-template-rows: 78.125%;
          justify-items: center; }
          main .main__sale .sale__contain .sale__time .sale__timer .timer {
            align-self: center; }
      main .main__sale .sale__contain .form {
        grid-area: 1/2/3/2;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 25% 75%;
        background-color: #ffffff;
        border-radius: 10px;
        height: 100%; }
        main .main__sale .sale__contain .form .form__title {
          text-align: center;
          display: grid;
          grid-template-rows: 50%;
          grid-auto-columns: auto; }
          main .main__sale .sale__contain .form .form__title p {
            align-self: end;
            font-family: "Open Sans";
            font-weight: 700;
            font-size: 1em;
            color: #333333;
            text-transform: uppercase; }
          main .main__sale .sale__contain .form .form__title h1 {
            align-self: start;
            font-family: "Open Sans";
            font-weight: 700;
            font-size: 1.5em;
            text-transform: uppercase; }
        main .main__sale .sale__contain .form form {
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: 18% 18% 24% 18%;
          grid-gap: 7%;
          justify-items: center; }
          main .main__sale .sale__contain .form form input {
            border-radius: 10px;
            border: 1px solid #d1d1d1;
            text-align: center;
            width: 79%; }
          main .main__sale .sale__contain .form form .button {
            border-radius: 10px;
            border: 1px solid #ffc600;
            box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4);
            background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%);
            background-color: #e8e8e8;
            text-align: center;
            font-family: "Open Sans Condensed";
            font-weight: 700;
            color: #000000;
            font-size: 1.25em;
            width: 79%;
            text-transform: uppercase; }
          main .main__sale .sale__contain .form form p {
            font-family: "Open Sans";
            font-weight: 300;
            font-size: 0.6875em;
            color: #666666; }
  main .main__where_we {
    padding: 80px 0; }
    main .main__where_we .container .where__we {
      height: 609px;
      display: grid;
      grid-template-columns: 48.6324786325% 40.3418803419%;
      grid-template-rows: 10.0164203612% 76.6830870279%;
      grid-row-gap: 13.1362889984%;
      grid-column-gap: 11.0256410256%; }
      main .main__where_we .container .where__we .where__we__title {
        grid-area: 1/1/2/3;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 49.1803278689% 50.8196721311%; }
        main .main__where_we .container .where__we .where__we__title h1 {
          font-family: "Open Sans";
          font-weight: 700;
          text-transform: uppercase;
          font-size: 1.875em;
          color: #000000;
          justify-self: center; }
        main .main__where_we .container .where__we .where__we__title .bbottom {
          background-color: #57B1EC;
          width: 9.6%;
          height: 7.7%;
          align-self: end;
          justify-self: center; }
      main .main__where_we .container .where__we .map {
        grid-area: 2/1/2/2; }
      main .main__where_we .container .where__we .where__we__info {
        grid-area: 2/2/3/3;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, 13.147751606%);
        grid-row-gap: 8.9935760171%; }
        main .main__where_we .container .where__we .where__we__info .info__container {
          display: grid;
          grid-template-columns: 100%;
          grid-template-rows: 26.0586319218% 46.2540716612%;
          grid-row-gap: 27.6872964169%; }
          main .main__where_we .container .where__we .where__we__info .info__container .info__sup {
            font-family: "Open Sans";
            font-weight: 700;
            font-size: 0.9375em;
            color: #008cce; }
          main .main__where_we .container .where__we .where__we__info .info__container .info__sub {
            font-family: "Open Sans";
            font-weight: 400;
            font-size: 1.125em; }
  main .main__many__questions {
    border: 1px solid #ffffff;
    background-color: #00a0eb;
    padding: 80px 0 80px 0; }
    main .main__many__questions .container .questions {
      display: grid;
      grid-template-columns: 34.9572649573% 61.7094017094%;
      grid-template-rows: auto;
      grid-column-gap: 3.3333333333%; }
      main .main__many__questions .container .questions p {
        font-family: "Open Sans";
        font-size: 1.875em;
        font-weight: 400;
        color: #ffffff;
        justify-self: end; }
      main .main__many__questions .container .questions a {
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 1.875em;
        color: #ffffff;
        justify-self: start; }
      main .main__many__questions .container .questions a:hover {
        color: #f8e1e1; }

footer {
  padding: 40px 0; }
  footer .container {
    max-width: 1190px;
    padding: 0 10px 0 10px;
    margin: 0 auto; }
    footer .container .footer__contain {
      display: grid;
      grid-template-columns: repeat(3, 15.0427350427%);
      grid-template-rows: 100%;
      grid-column-gap: 27.4358974359%; }
      footer .container .footer__contain p {
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 0.9375em;
        color: #000000;
        text-align-last: left;
        justify-self: start; }
      footer .container .footer__contain img {
        width: 80%; }
      footer .container .footer__contain .right {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 39.0243902439% 34.1463414634%;
        grid-row-gap: 14.6341463415%;
        text-align: right; }
        footer .container .footer__contain .right .tel {
          font-family: "Open Sans";
          font-weight: 700;
          font-size: 1.125em;
          color: #333333; }
        footer .container .footer__contain .right .mail {
          color: #0090d5;
          font-family: "Open Sans";
          font-size: 0.875em;
          font-weight: 400;
          line-height: 26px;
          justify-self: end; }

/*# sourceMappingURL=style.css.map */
